<ion-view style="" class=" " id="page10" title="bookingconfirmation" hide-nav-bar="true">
	<ion-header-bar class="theme_primary nav_header">
			<button class="nav_btn floatLeft" ng-click="myGoBack()">
				<i class="ion-chevron-left"></i>
			</button>
			<div class="nav_header_title floatLeft">
				<h4>Booking Confirmation</h4>
			</div>
			<button class="nav_btn floatRight" ui-sref="profile">
				<i class="ion-android-person"></i>
			</button>
			<div class="clear"></div>
	</ion-header-bar>
  <ion-content class="theme-bg2">
		<div class="bms_book_summary_wrapper">
			<div class="bms_booking_div">
				<div class="bms_booking_div_inner">
					<div class="bms_booking_div_inner_logo">
						<img src="img/bms-grey-logo.png">
					</div>
					<div class="bms_booking_ack">
						<h4>Congrats !</h4>
						<p> Your booking has been confirmed. </p>
						<p>Thank you for Booking with us.</p>
					</div>
				</div>
			</div>
		</div>
    </ion-content>
		<ion-footer>
			<button class="bms_apply_btn theme_primary" ui-sref="menu.home">BACK TO HOME</button>
		</ion-footer>
</ion-view>
