<ion-view style="" class=" " id="page9" title="bookreview" hide-nav-bar="true">
	<ion-header-bar class="theme_primary nav_header">
			<button menu-toggle class="nav_btn floatLeft">
				<i class="ion-drag"></i>
			</button>
			<div class="nav_header_title floatLeft">
				<h4> Payment Details</h4>
			</div>
			<div class="clear"></div>
	</ion-header-bar>
    <ion-content>
			<div class="bms_payment_wrapper">
			<div class="bms_payment_banner">
					<ul>
						<li>
							<h1>{{s_name | uppercase}}</h1>
							<ul class="bms_payment_banner_inner_list text_color_white">
								<li>
									Date and Time
								</li>
								<li>
									{{dateAsString}}
								</li>
								<div class="clear"></div>
							</ul>
						</li>
					</ul>
			</div>
			<div class="bms_payment_detail_div">
				<div class="bms_payment_detail_head">
					Personel Details
				</div>
				<ul>
					<li><span><img src="img/bms-mail.png">{{email_id}}</span></li>
					<li><span><img src="img/bms-call.png">{{phone_no}}</span></li>
					<div class="clear"></div>
				</ul>
			</div>
			<div class="bms_detail_list">
				<ul>
					<h5>Details</h5>
					<li>
						<div class="bms_services" ng-repeat="val in array">
							<div class="row p0">
								<div class="col-75">{{val[0]}}</div>
								<div class="col-25 textRight">{{val[2]}}</div>
							</div>
						</div>
					</li>
					<li>
						<div class="row p0">
							<div class="col-75"><strong>Subtotal</strong></div>
							<div class="col-25 textRight">{{sprice}}</div>
						</div>
					</li>
					<li>
						<div class="row p0">
							<div class="col-75"><strong>Internet Handling</strong></div>
							<div class="col-25 textRight">FREE</div>
						</div>
					</li>
					<li>
						<div class="row p0">
							<div class="col-75"><strong>Total Amount Payment</strong></div>
							<div class="col-25 textRight text_color_primary font_size_lg"><strong>{{sprice}}</strong></div>
						</div>
					</li>
				</ul>
			</div>
			</div>
    </ion-content>
		<ion-footer>
			<button class="bms_apply_btn theme_primary" ng-click="finalBooking()">PAY NOW</button>
		</ion-footer>
</ion-view>
