<ion-view style="" class="landing" id="page13" title="bookinghistory" hide-nav-bar="true">
   <ion-header-bar class="theme_primary nav_header">
 			<button class="nav_btn floatLeft" ui-sref="mybooking">
 				<i class="ion-chevron-left"></i>
 			</button>
 			<div class="nav_header_title floatLeft">
 				<h4>Booking Details</h4>
 			</div>
      <button class="nav_btn floatLeft" ui-sref="profile">
 				<i class="ion-android-person"></i>
 			</button>
 			<div class="clear"></div>
 	</ion-header-bar>
   <ion-content>
      <div class="bms_payment_wrapper">
            <div class="bms_detail_list">
               <ul>
                  <li>
                     <h5>{{shopname|uppercase}}</h5>
                     <div class="row p0">
                       <div class="col-50">DATE</div>
       								 <div class="col-50 textRight"> {{bookingdate}}</div>
                     </div>
                   </li>
                   <li>
                      <div class="row p0">
                        <div class="col-50">TIME</div>
        								 <div class="col-50 textRight"> {{bookingtime}}M</div>
                      </div>
                    </li>
                    <h5>SERVICES</h5>
                      <ul class="bms_service_list">
                        <li class="bms-list-child1" ng-repeat="servces in services">{{servces}}</li>
                      </ul>
                    <li>
                     <div class="row p0">
                       <div class="col-50"><h5>BOOKING ID</h5></div>
                        <div class="col-50 textRight"><h5 class="text_color_primary">{{booking_order_id}}</h5></div>
                     </div>
                    </li>
                    <li class="">
          						<div class="row p0">
          							<div class="col-50"><h5><strong>TOTAL AMOUNT PAYED</strong></h5></div>
          							<div class="col-50 textRight  font_size_lg"><h5 class="text_color_primary"><strong>{{total}}</strong></h5></div>
          						</div>
          					</li>
                  </ul>

                <div class="bms_book_rate_wrap">
                   <h3>IF YOU LIKE OUR SERVICES PLEASE DONT FORGET TO RATE IT</h3>
                   <p>Your opinion is highly appreciated.
                  It help us in developing new and better services</p>
                   <button class="bms_rate_service" ng-click="rattingPopup()">
                      Click to Rate our Service
                   </button>
                   <div ng-show="bms_toast_message" class="rate_message">{{message}}</div>
                </div>
                </div>
      </div>
   </ion-content>
</ion-view>
