<ion-modal-view class="theme_dark_transparent">
    <form ng-submit="ChangePass()" name="changepassForm">
          <div class="bms_pop_up_wrapper theme_primary">
            <div class="bms_pop_up_header">
              <h1>Change Password</h1>
              <div class="bms_pop_close" ng-click="closeEdit();">
                <i class="ion-ios-close-empty"></i>
              </div>
            </div>
            <div class="bms_sign_form">

                  <div class="bms_sign_form_row">
                    <div class="bms_sign_input_container">
                      <input class="bms_sign_input bms_pass" type="text" ng-model="val.currentpass" placeholder="Current Password" name="currentpass" value="">
                    </div>
                  </div>
                  <div class="bms_sign_form_row">
                    <div class="bms_sign_input_container">
                      <input class="bms_sign_input bms_pass" type="text" ng-model="val.newpass" placeholder="New Password" name="newpass" value="">
                    </div>
                  </div>
                  <div class="bms_sign_form_row">
                    <div class="bms_sign_input_container">
                      <input class="bms_sign_input bms_pass" type="text" ng-model="val.confirmpass" placeholder="Confirm Password" name="confirmpass" value="">
                    </div>
                  </div>
                      <div ng-show="changepassMsg" class="bms_toast_message">
                             {{message}}
                      </div>

                  <div class="bms_sign_form_row">
                    <button class="bms_sign_btn" type="submit" ng-click="submitted=true">
              				SUBMIT
              			</button>
                  </div>
                </div>
              </div>
            </form>
 </ion-modal-view>
