<ion-view style="" class=" " id="page7" title="date" hide-nav-bar="true">
	<ion-header-bar class="theme_primary nav_header">
			<button menu-toggle class="nav_btn floatLeft">
				<i class="ion-drag"></i>
			</button>
			<div class="nav_header_title floatLeft">
				<h4> {{s_name}}</h4>
			</div>
			<div class="clear"></div>
	</ion-header-bar>
    <ion-content class="bms_booking_wrap_inner">
			<div class="bms_home_city_search theme_primary">
				<input class="bms_home_city_search_input" type="text" ng-change="searchShop()" ng-model="search_service" placeholder="Find services" >
			</div>
				<div class="bms_booking_date_wrap">
					<ionic-datetimepicker  input-obj="datetimepickerObject">
					<div class="bms_book_date_pick_tool_bar">
						<div class="row">
							<div class="col-75">Pick Date & Time</div>
							<div class="col-25 textRight"><i class="ion-arrow-right-b"></i></div>
						</div>
					</div>
					</ionic-datetimepicker>
					<input  type="hidden" name="datetime" ng-model="datetime" value="{{dateAsString}}">
					<div ng-show="select">
						<div class="bms_booking_date_div theme_primary">
							<div class="row">
								<div class="col-25 textCenter">{{day}}</div>
								<div class="col-50 textCenter">{{month}} {{date}}</div>
								<div class="col-25 textCenter">{{year}}</div>
							</div>
						</div>
						<div class="bms_booking_time_div theme_primary">
							<div class="row">
								<div class="col-25 textCenter"></div>
								<div class="col-50 textCenter"><div class="bms_time_div">{{times}}</div></div>
								<div class="col-25 textCenter"></div>
							</div>
						</div>
					</div>
					<div ng-show="notselectdate">
						<div class="bms_booking_date_div theme_primary">
							<div class="row">
								<div class="col-25 textCenter">Date</div>
								<div class="col-50 textCenter">Month</div>
								<div class="col-25 textCenter">Year</div>
							</div>
						</div>
						<div class="bms_booking_time_div theme_primary">
							<div class="row">
								<div class="col-25 textCenter"></div>
								<div class="col-50 textCenter"><div class="bms_time_div">00:00:00</div></div>
								<div class="col-25 textCenter"></div>
							</div>
						</div>
					</div>
					<div class="bms_toast_message" ng-show="dat" class="bms-alert">Please select Date</div>
				</div>
				<div class="bms_select_service_wrapper">
				<h1>Choose your Service</h1>
				<div ng-show="(services|filter:search_service).length != 0">
					<ul class="bms_service_list">
						<li id="ck-button" ng-repeat="servcs in services | filter:search_service">
							<label >
								<input id="service_{{services[1]}}" type="checkbox" name="services" value="{{servcs}}"><p>{{servcs[0]}}</p>
							</label>
						</li>
					</ul>
				</div>
				<div ng-show="(services|filter:search_service).length == 0">
					<p class="no_ser">Sorry. No services found...</p>
				</div>
				<div ng-show="fac" class="bms_toast_message">Please select Facilities</div>
				</div>
    </ion-content>
		<ion-footer>
			<button class="bms_apply_btn theme_primary" ng-click="bookingConf()">APPLY NOW</button>
		</ion-footer>
</ion-view>
