<ion-modal-view class="theme_dark_transparent">
  <form ng-submit="editForm.$valid && editProfile()" name="editForm"  enctype="multipart/form-data">
        <div class="bms_pop_up_wrapper theme_primary">
          <div class="bms_pop_up_header">
            <h1>Edit Profile</h1>
            <div class="bms_pop_close" ng-click="closeEdit();">
              <i class="ion-ios-close-empty"></i>
            </div>
          </div>
          <div class="bms_sign_form">

                <div class="bms_sign_form_row">
                  <div class="bms_sign_input_container">
                    <input class="bms_sign_input bms_user" type="text" ng-model="val.firstname" placeholder="First Name : {{firstname}}" name="firstname" value="">
                  </div>
                </div>
                <div class="bms_sign_form_row">
                  <div class="bms_sign_input_container">
                    <input class="bms_sign_input bms_user" type="text" ng-model="val.lastname" placeholder="Last Name : {{lastname}}" name="lastname" value="">
                  </div>
                </div>
                <div class="bms_sign_form_row">
                  <div class="bms_sign_input_container">
                    <input class="bms_sign_input bms_mail" type="email" ng-model="val.email_id" placeholder="Email id : {{email_id}}" name="email_id">
                  </div>
                </div>
                <div class="error" ng-show="editForm.email_id.$touched && editForm.email_id.$invalid">Invalid Email-Id.</div>
                <div class="bms_sign_form_row">
                  <div class="bms_sign_input_container">
                    <input class="bms_sign_input bms_pass" type="text" ng-model="val.country" placeholder="Country : {{country}}" name="country">
                  </div>
                </div>
                <div class="bms_sign_form_row">
                  <div class="bms_sign_input_container">
                    <input class="bms_sign_input bms_pass" type="text" ng-model="val.city" placeholder="City : {{city}}" name="city">
                  </div>
                </div>
                <div class="bms_sign_form_row">
                  <div class="bms_sign_input_container">
                    <input class="bms_sign_input bms_pass" type="text" ng-model="val.phone_no" placeholder="Phone No :{{phone_no}}" name="phone_no" ng-minlength="6" ng-maxlength="15" numbers-only>
                  </div>
                </div>
                <div class="error" ng-show="editForm.phone_no.$touched && editForm.phone_no.$error.minlength || editForm.phone_no.$touched && editForm.phone_no.$error.maxlength">
        					In-valid phone number.
        				</div>
                    <div ng-show="editMsg" class="bms_toast_message">
              	            {{ msg1 }}
              	            {{ message }}
              	            {{ message1 }}
              	            {{ message2 }}
              	        </div>
                        <div class="bms_sign_form_row">
                          <button class="bms_sign_btn"  type="submit" ng-click="submitted=true">
                            SUBMIT
                          </button>
                        </div>
                  </div>
                </div>
          </form>
 </ion-modal-view>
