<div class="bms_pop_up_wrapper theme_primary">
  <div class="bms_pop_up_header">
    <h1>Forgot Password</h1>
    <div class="bms_pop_close" ng-click="closePopup()">
      <i class="ion-ios-close-empty"></i>
    </div>
  </div>
  <div class="bms_sign_form">
      <form ng-submit="editForm.$valid && forgotPass(email_address)" name="editForm"  enctype="multipart/form-data">
      <div class="bms_sign_form_row">
        <div class="bms_sign_input_container">
          <input class="bms_sign_input bms_email" type="email" ng-model="email_address"  name="email_address" placeholder="Email Id">
  				<div class="alert error" ng-show="editForm.email_address.$touched && editForm.email_address.$invalid">
            Invalid Email-Id
          </div>
          <div class="bms_toast_message"ng-show="forgotMsg" class="forgot_error">
						{{ message }}
					</div>
					<div class="bms_toast_message" ng-show="editMsg">
	            		{{ message }}
	        </div>
        </div>
      </div>
      <div class="bms_sign_form_row">
        <button class="bms_sign_btn" ng-click="submitted=true">
  				SUBMIT
  			</button>
      </div>
      </form>
  </div>
</div>
