<ion-view style="" class="home_page" id="page1" title="Home" hide-nav-bar="true">
	<ion-header-bar class="theme_primary nav_header">
			<button menu-toggle class="nav_btn floatLeft">
				<i class="ion-drag"></i>
			</button>
			<div class="nav_header_title bms_home_header">
				<input class="bms_home_search_bar_input" type="text" ng-change="searchShop()" ng-model="data.search" placeholder="Find a salon or treatment" >
			</div>
			<div class="clear"></div>
	</ion-header-bar>
<ion-content class="theme_offwhite">

		<!-- BODY-DIV -->

		<div class="bms_home_wrapper">

		<!-- LOCATION-BAR -->

			<div class="bms_home_city_search theme_primary">
				<input class="bms_home_city_search_input floatLeft" type="text"  placeholder="Your Location is here" ng-model="city" id="country" readonly>
				<button class="theme_transparent borderNone text_color_white font_size_lg floatRight" ui-sref="profile">
					<i class="ion-android-person"></i>
				</button>

				<!-- <div class="menu_simple" ng-show="showCity">
							<ul>
								 <li ng-repeat="citys in cities|filter:city" ng-click='hidecityList(citys.city)'><a href="#">{{citys.city}}</a></li>
							</ul>
							<ul  ng-if="citys.city!=city">
								 <li ><a href="#">No results</a></li>
							</ul>
						</div> -->
			</div>

			<!-- END-LOCATION-BAR -->

			<div class="bms_shop_list" ng-show="(shopDetails|filter:data.search).length !=0">

			<!-- SHOP-LIST -->

				<ul ng-init="get_shops()">

			<!-- NORMAL-LISTING -->

					<li ng-show="notfilter">
						<div class="bms_shop_details shop_det">
							<div class="bms_shop_div" ng-repeat="shopDtl in shopDetails|filter:data.search">
								<div class="bms_shop_banner">
									<div ng-show="(shopDtl.rating_count !=0) ">
										<div class="bms_rating">
										 {{get_rate(shopDtl.total_rating,shopDtl.rating_count)}}.0
											<!-- {{shopDtl.total_rating /shopDtl.rating_count}} -->
										</div>
									</div>

								<!-- <div class="bms-call1"><img src="img/bms-call1.png"></div> -->
								<!-- <div class="bms-fav" ><img src="img/bms-fav.png"></div> -->

									<img src="{{shopDtl.image}}">
								</div>
								<div class="bms_shop_name">
									<div class="row">
										<div class="col-67">
											<h6>
												{{shopDtl.shop_name}}, {{shopDtl.location}}
											</h6>
											<raty id="star"  score="{{shopDtl.total_rating /shopDtl.rating_count}}" number="5"></raty>
										</div>
										<div class="col-33">
											<button class="bms_view_btn"  ng-click="viewShopDetails(shopDtl.id)" >
												View Details
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

			<!-- END-NORMAL-LISTING -->

			<!-- FILTER-LISTING -->

					<li ng-show="filtershow">
						<div class="bms_shop_details" >
							<div class="bms_shop_div" ng-repeat="shopfilter in shops_detils|filter:data.search">
								<div class="bms_shop_banner">
								<div ng-show="(shopfilter.rating_count !=0) ">
									<div class="bms_rating">
										{{get_rate(shopfilter.total_rating ,shopfilter.rating_count)}}.0
									</div>
								</div>
									<!-- <div class="bms-call1"><img src="img/bms-call1.png"></div>
									<div class="bms-fav"><img src="img/bms-fav.png"></div> -->
									<img src="{{shopfilter.image}}">
								</div>
								<div class="bms_shop_name">
									<div class="row">
										<div class="col-67">
											<h6>{{shopfilter.shop_name}}, {{shopfilter.location}}</h6>
											 <raty id="star" score="{{shopfilter.total_rating /shopfilter.rating_count}}" number="5"></raty>
										</div>
										<div class="col-33">
											<button class="bms_view_btn"  ng-click="viewShopDetails(shopfilter.id)" >View Details</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</li>

				 <!-- END-FILTER-LISTING -->

				 <!-- POPULARITY-LISTING -->

					<li ng-show="popshow">

					<div class="bms_shop_details">
						<div class="bms_shop_div" ng-repeat="sorting_data in popularity|filter:data.search">
							<div class="bms_shop_banner">
							<div ng-show="(sorting_data.rating_count !=0) ">
								<div class="bms_rating">
									{{get_rate(sorting_data.total_rating ,sorting_data.rating_count)}}.0
								</div>
							</div>
							<!-- <div class="bms-call1"><img src="img/bms-call1.png"></div>
								<div class="bms-fav"><img src="img/bms-fav.png"></div> -->
								<img src="{{sorting_data.image}}">
							</div>
							<div class="bms_shop_name">
								<div class="row">
									<div class="col-67">
										<h6>{{sorting_data.shop_name}}, {{sorting_data.location}}</h6>
										 <raty id="star" score="{{sorting_data.total_rating /sorting_data.rating_count}}" number="5"></raty>
									</div>
									<div class="col-33">
										<button class="bms_view_btn"  ng-click="viewShopDetails(sorting_data.id)" >View Details</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					</li>

				 <!-- END-POPULARITY-LISTING -->

				</ul>
		</div>

		<!-- END-SHOP-LIST -->

		<!-- NO-SHOP-LIST -->

			<div class="bms-shop no_back" ng-show="(shopDetails|filter:data.search).length==0">
				<div class="shop_det">
					<div class="no-result">
						Sorry! No shops found...
					</div>
				</div>
			</div>

			<!-- END-NO-SHOP-LIST -->

			<!-- TOAST-MESSAGES -->

			<div class="bms_toast_message" ng-show="messagefilter" class="no-result">
				{{message}}
			</div>
			<div class="bms_toast_message" ng-show="shopMsg" class="no-result">
				{{shop_message}}
			</div>

			<!-- END-TOAST-MESSAGES -->

		</div>

		<!-- END-BODY-DIV -->

    </ion-content>
		<br>
		<br>
		<ion-footer class="bms_home_footer theme_primary">
		<li  class="floatLeft" ng-click="sortPopup()"><i class="ion-arrow-swap"></i>SORT BY</li>
		<!--<li  class="footer5" style="width:50%;"  ng-click="filterModalshow()">FILTER BY</li> -->
		 <li  class="border_left floatRight" ng-click="filterModal.show()"><i class="ion-levels"></i>FILTER BY</li>
</ion-footer>
</ion-view>
