<ion-view style="" class="landing" id="page11" title="mybooking" hide-nav-bar="true">
  <ion-header-bar class="theme_primary nav_header">
			<button class="nav_btn floatLeft" ng-click="backHist();">
				<i class="ion-chevron-left"></i>
			</button>
			<div class="nav_header_title floatLeft">
				<h4>My Booking</h4>
			</div>
			<div class="clear"></div>
	</ion-header-bar>
   <ion-content class="theme_offwhite">
        <div class="bms_history_wrapper">
          <ul>
            <h4>All Activities</h4>
            <li  ng-repeat="bkng in userbookings">
              <span class="floatLeft">{{bkng.shop_name}}</span>
              <span class="floatRight" ng-click="bookinghistory(bkng.shop_id,bkng.shop_name,bkng.booking_date,bkng.booking_time,bkng.services,bkng.total,bkng.comments,bkng.rating,bkng.booking_id, bkng.price, bkng.booking_order_id)"><strong>View Detail</strong><i class="ion-chevron-right"></i></span>
              <div class="clear"></div>
            </li>
          </ul>
        </div>
        <div ng-show="msgbk" class="bms_toast_message">{{msg}}</div>
   </ion-content>
</ion-view>
