<ion-view style="" class=" " id="page12" title="profile" hide-nav-bar="true">
  <ion-header-bar class="theme_primary nav_header">
			<button class="nav_btn floatLeft" ng-click="editModal.show()">
				<i class="ion-edit"></i>
			</button>
			<div class="nav_header_title floatLeft">
				<h4> My Profile</h4>
			</div>
      <button class="nav_btn floatRight" ng-click="logout()">
				<i class="ion-log-out"></i>
			</button>
			<div class="clear"></div>
	</ion-header-bar>
    <ion-content class="theme_secondary">
		<div class="bms_profile_wrapper">
			<div class="bms_profile_bay">
				<div class="bms_profile_photo">
					<div ng-if="profile_pic !== ''">
						<img src="{{profile_pic}}" alt="Profile Picture">
					</div>
					<div ng-if="profile_pic === ''">
						<img src="img/user2.jpg" alt="Profile Picture">
					</div>
				</div>
				<h1>{{username}}</h1>
				<p ng-show="{{city!=''}}"><span><img src="img/bms-loc.png"></span>{{city}},{{country}}</p>
				<div class="arrow-down"></div>
			</div>
			<div class="bms_landing_list">
				<ul>
					<li ng-click="mybooking()">My Bookings<i class="ion-ios-bookmarks-outline"></i><div class="clear"></div></li>
					<li ng-click="userfavshops()">My Favourate Shops<i class="ion-ios-heart-outline"></i><div class="clear"></div></li>
					<li ng-click="changepasswordModal.show()">Change Password<i class="ion-ios-compose-outline"></i><div class="clear"></div></li>
					<li ng-click="logout()">Log Out<i class="ion-ios-refresh-outline"></i><div class="clear"></div></li>
				</ul>
			</div>
		</div>
    </ion-content>
    <ion-footer class="bms_profile_footer_bay">
      <div class="row p0">
        <div class="col-33"><button class="bms_profile_footer_btn theme_primary" ui-sref="menu.home"><i class="ion-ios-plus-outline"></i>NEW</button></div>
        <div class="col-33"><button class="bms_profile_footer_btn theme_primary" ui-sref="profile"><i class="ion-ios-person-outline"></i>YOU</button></div>
        <div class="col-33"><button class="bms_profile_footer_btn theme_primary" ng-click="mybooking()"><i class="ion-ios-bookmarks-outline"></i>BOOK</button></div>
      </div>
		</ion-footer>
</ion-view>
