<div class="bms_pop_up_wrapper theme_primary">
  <div class="bms_pop_up_header">
    <h1>Rate and Review us</h1>
    <div class="bms_pop_close" ng-click="closePopup();">
      <i class="ion-ios-close-empty"></i>
    </div>
  </div>
  <div class="bms_sign_form">
        <div class="bms_sign_form_row">
          <div class="bms_sign_input_container textCenter">
            <div class="bms_stars">
              <form>
                <span class="rating">
                <input type="radio" value="5" class="star star-5" id="rating-input-1-5" ng-model="star.val" name="val"><label for="rating-input-1-5" class="star star-5"></label>
                <input type="radio" value="4" class="star star-4" id="rating-input-1-4" ng-model="star.val" name="val"> <label for="rating-input-1-4" class="star star-4"></label>
                <input type="radio" value="3" class="star star-3" id="rating-input-1-3" ng-model="star.val" name="val"> <label for="rating-input-1-3" class="star star-3"></label>
                <input type="radio" value="2" class="star star-2" id="rating-input-1-2" ng-model="star.val" name="val"> <label for="rating-input-1-2" class="star star-2"></label>
                <input type="radio" value="1" class="star star-1" id="rating-input-1-1" ng-model="star.val" name="val"> <label for="rating-input-1-1" class="star star-1"></label>
                </span>
              </form>
            </div>
          </div>
        </div>
        <div class="bms_sign_form_row">
          <div class="bms_sign_input_container">
            <textarea class="bms_rating_textarea" placeholder="Share your comments" ng-model="comments" rows="4"></textarea>
          </div>
        </div>
        <div class="bms_sign_form_row">
          <button class="bms_sign_btn" ng-click="closePopup();updateReview(comments)">
            SUBMIT
          </button>
        </div>
      </div>
    </div>
