
<div class="bms_pop_up_wrapper theme_primary">
	<div class="bms_pop_up_header">
    <h1>Search by City</h1>
    <div class="bms_pop_close" ng-click="closePopup()">
      <i class="ion-ios-close-empty"></i>
    </div>
  </div>
	<div class="bms_sign_form">
		<div class="bms_sign_form_row">
			<div class="bms_sign_input_container">
				<input class="bms_sign_input bms_search" type="text" ng-change="searchCity()" placeholder="Search City" ng-model="search_city" id="country">
				<div class="menu_simple" ng-show="showCity">
					<ul>
						<li ng-repeat="citys in cities|filter:search_city" ng-click="hidecityList(citys.city)">
							<a href="#">{{citys.city}}</a>
						</li>
					</ul>
					<ul>
						<li ng-show="(cities|filter:search_city).length == 0">
							<a href="#">No results</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
