<ion-view style="" class="landing" id="page6" title="shopdetail" hide-nav-bar="true">
	<ion-header-bar class="theme_primary nav_header">
			<button menu-toggle class="nav_btn floatLeft">
				<i class="ion-drag"></i>
			</button>
			<div class="nav_header_title floatLeft">
				<h4>{{shopdata[0].shop_name}}</h4>
			</div>
			<div class="clear"></div>
	</ion-header-bar>
    <ion-content class="theme_offwhite">
		<div class="bms_home_wrapper">
			<div class="bms_shop_details">
				<div class="bms_shop_div">
					<div class="bms_shop_banner">
					<div class="bms_call"><a href="tel:{{shopdata[0].phone_no}}"><img src="img/bms-call1.png"></a></div>
						<div class="bms_fav" ng-click="favShop(shopdata[0].id)" ng-hide="favid=='fav'"><img src="img/heart-on.png"></div>
						<div class="bms_fav" ng-click="favShop(shopdata[0].id)" ng-show="favid=='fav'"><img src="img/bms-fav.png"></div>
						<img src="{{shopdata[0].image}}">
					</div>
					<div class="bms_shop_name">
						<div class="row">
							<div class="col-67">
								<h6>{{shopdata[0].shop_name}}, {{shopdata[0].location}}</h6>
								<raty id="star" score="{{shopdata[0].total_rating /shopdata[0].rating_count}}" number="5"></raty>
							</div>
							<div class="col-33">
								<div ng-if="services != '' ">
									<button class="bms_view_btn" ng-click="booknow(shopdata[0].id,shopdata[0].shop_name)">
										Book Now
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="bms_list">
					<ul>
						<li>
							<h4>Description</h4>
							<p>{{shopdata[0].description}}</p>
						</li>
						<li>
							<h4>Working time</h4>
							<p>{{shopdata[0].working_time}}</p>
						</li>
						<li>
							<h4>Our Services</h4>
							<div ng-if="services != '' ">
								<ul class="bms_service_list">
									<li ng-repeat="service in services">{{service[0]}}</li>
									<div class="clear"></div>
								</ul>
							</div>
							<div ng-if="services == ''">
							 	<p>Sorry. No services available now. Will started soon!</p>
							</div>
						</li>
						<li>
							<h4>Our Gallery</h4>
							<ul class="bms_gallery_list">
								<li ng-repeat="glry in gallery" ng-click="gallery_img(glry);"><img src="{{glry}}"><div class="c1"><i class="icon ion-ios-search-strong"></i></div></li>
							</ul>

						</li>
					</ul>
				</div>
				<div class="bms_list">
					<div class="bms_review">
						<div class="bms_review_head">
						User Reviews <!-- <strong style="color:#e6686b;">(5)</strong> --><!-- <div class="d1 text-align-right">View All<i class="icon icon-right ion-ios-arrow-forward bms-view-arw" style="top:2px;"></i></div> -->
						</div>
						<ul class="bms_review_list">
							<li ng-repeat="review in reviews">
								<div class="bms_reviewer_name">
									<div class="bms_reviewer_pic">
										<div ng-if="review.profile_pic !== ''">
											<img src="{{review.profile_pic}}">
										</div>
										<div ng-if="review.profile_pic === ''">
											<img src="img/user2.jpg">
										</div>
									</div>
									<div class="bms_reviewer_detail">
										<h1>{{review.username}}</h1>
									</div>
									<div class="clear"></div>
									<p>{{review.comments}}</p>
									<div class="bms-usr-int-bay">
										<!-- <div class="bms-like">8</div>
										<div class="bms-unlike">3</div>
										<div class="bms-comment">5</div> -->
									</div>
								</div>
							</li>




						</ul>

					</div>
				</div>
			</div>
		</div>
    </ion-content>
</ion-view>
