<ion-view style="" class=" " id="page4" title="signin" hide-nav-bar="true">
    <ion-content class="theme_primary">
			<div class="bms_wrapper">
				<div class="bms_sign_inner">
					<div class="bms_logo">
						<img src="img/bms-logo.png">
					</div>
          <div class="bms_sign_form">
            <form ng-submit="loginForm.$valid &&doSignIn()" name="loginForm">
              <div class="bms_sign_form_row">
                <div class="bms_sign_input_container">
                  <input class="bms_sign_input bms_user" type="text" name="username" placeholder="User ID or Phone" ng-model="loginData.username" required>
    							<div class="alert error" ng-show="submitted && loginForm.username.$error.required">This field is required.</div>
                </div>
              </div>
              <div class="bms_sign_form_row">
                <div class="bms_sign_input_container">
                  <input class="bms_sign_input bms_pass" type="password" placeholder="Password" name="password" ng-model="loginData.password" required>
    							<div class="alert error" ng-show="submitted && loginForm.password.$error.required">Password is required.</div>
                </div>
              </div>
              <div class="bms_sign_form_row">
                <div class="row p0">
                  <div class="col col-50"><button class="bms_sign_btn" type="submit" ng-click="submitted=true">Sign In</button></div>
                  <div class="col col-50"><button class="bms_sign_btn" type="submit" ui-sref="menu.home">Skip</button></div>
                </div>
              </div>
              <div class="bms_sign_form_row">
                  <p ng-click="forgotPopup()">Forgot Password ?</p>
              </div>
              <br>
              <br>
              <div class="bms_sign_form_row">
                <h6 ui-sref="signup">New to Bookmysalon ? Sign Up now !</h6>
              </div>
							<div class="bms_toast_message" ng-show="showMessage" class="{{class}}">
		                {{ message }}
		          </div>
					  </form>
          </div>
				</div>
			</div>
			<div class="clear"></div>
	</ion-content>

</ion-view>
