<ion-view style="" class=" " id="page5" title="signup" hide-nav-bar="true">
    <ion-content class="theme-bg">
		<div class="bms_wrapper" style="padding-top:15% !important;">
			<div class="bms_sign_inner">
				<div class="bms_logo">
					<img src="img/bms-logo.png" style="width:160px;">
				</div>
        <div class="bms_sign_form">
			       <form  ng-submit="regForm.$valid &&doSignUp()" name="regForm" >
               <div class="bms_sign_form_row">
                 <div class="bms_sign_input_container">
                   <input class="bms_sign_input bms_user" type="text" placeholder="Username" name="username"  ng-model="regData.username" ng-minlength="6" required>
       					  <div class="alert error" ng-show="submitted && regForm.username.$error.required">Username is required.</div>
                   <div class="alert error" ng-show="regForm.username.$touched && regForm.username.$error.minlength">Username should be minimum 6 characters.</div>
                 </div>
               </div>
               <div class="bms_sign_form_row">
                 <div class="bms_sign_input_container">
                   <input class="bms_sign_input bms_email" type="email" placeholder="E-mail" name="email_id" ng-model="regData.email_id" required>
         					  <div class="alert error" ng-show="submitted  && regForm.email_id.$error.required">Email-Id is required.</div>
                    <div class="alert error" ng-show="regForm.email_id.$touched && regForm.email_id.$invalid">Invalid Email-Id.</div>
                 </div>
               </div>
               <div class="bms_sign_form_row">
                 <div class="bms_sign_input_container">
                   <input class="bms_sign_input bms_pass" type="password" placeholder="Password" name="password"  ng-model="regData.password" required>
         					  <div class="alert error" ng-show="submitted  && regForm.password.$error.required">Password is required.</div>
                 </div>
               </div>
               <div class="bms_sign_form_row">
                 <div class="bms_sign_input_container">
                   <input class="bms_sign_input bms_number" type="text" placeholder="Phonenumber" name="phone_no" ng-model="regData.phone_no"
         					ng-minlength="6" numbers-only required>
         					  <div class="alert error" ng-show="regForm.phone_no.$touched && regForm.phone_no.$error.minlength">Phone number should have minimum 5 characters.</div>
                    <div class="alert error" ng-show="regForm.phone_no.$touched && regForm.phone_no.$error.minlength">Phone number could not exceed more than 10 characters.</div>
                 </div>
               </div>
               <div class="bms_sign_form_row">
                 <ion-list class="bms_sign_check">
                    <ion-checkbox id="check1" type="checkbox" name="checkbox" value="check1" ng-model="checkbox" required>Accept the Terms User Agreement.</ion-checkbox>
                </ion-list>
					           <div class="alert error" ng-show="submitted && regForm.checkbox.$error.required">This field is required.</div>
              </div>
              <div class="bms_sign_form_row">
                <div class="row p0">
                  <div class="col col-50 p0"><button class="bms_sign_btn" type="submit" ng-click="submitted=true">Sign Up</button></div>
                  <div class="col col-50 p0"><button class="bms_sign_btn" type="submit" ui-sref="menu.home">Skip</button></div>
                </div>
              </div>
              <div class="bms_toast_message" ng-show="signupMsg" class="signup_message">
		            {{ message }}
	        	    </div>
			       </form>
           </div>
			</div>
		</div>
    </ion-content>
</ion-view>
