<div class="bms_pop_up_wrapper theme_primary" >
  <!-- <div class="bms-close" >
     <i class="ion-close icon icon-left text-white"></i>
  </div> -->
  <div class="bms_pop_up_header">
    <h1>Sort by</h1>
    <div class="bms_pop_close" ng-click="closePopup()">
      <i class="ion-ios-close-empty"></i>
    </div>
  </div>
  <div class="bms_sign_form">
    <ul>
      <li class='w1' ng-click="sorting('popularity')">POPULARITY</li>
      <li class='w2' ng-click="sorting('discount')">DISCOUNT</li>
      <li style='border:none;' class='w3' ng-click="sorting('whats_new')">WHAT'S NEW</li>
    </ul>
  </div>
</div>
