<ion-view style="" class=" " id="page12" title="profile" hide-nav-bar="true">
  <ion-header-bar class="theme_primary nav_header">
			<button class="nav_btn floatLeft" ng-click="backHist();">
				<i class="ion-chevron-left"></i>
			</button>
			<div class="nav_header_title floatLeft">
				<h4>Favourate List</h4>
			</div>
			<div class="clear"></div>
	</ion-header-bar>
    <ion-content class="theme_offwhite">

		<div class="bms_shop_list">


		<ul>

			<li ng-repeat="fav in favshops">
			<div class="bms_shop_details">
				<div class="bms_shop_div">
					<div class="bms_shop_banner">
					<!-- <div class="bms-rated">3.0</div> -->
					<!-- <div class="bms-call1"><img src="img/bms-call1.png"></div> -->
						<div class="bms_fav"><a href="tel:{{fav.phone_no}}"><img src="img/bms-call1.png"></a></div>
						<img src="{{fav.image}}">
					</div>
					<div class="bms_shop_name">
            <div class="row">
              <div class="col-67">
					        <h6>{{fav.shop_name}}, {{fav.location}}</h6>
					        <raty id="star" score="{{fav.rating}}" number="5"></raty>
              </div>
              <div class="col-33">
					           <button class="bms_view_btn"
					                ng-click="viewShopDetails({{fav.shid}})">View Details</button>
              </div>
            </div>
					</div>

				</div>
			</div>
			</li>
			<div class="bms_toast_message" ng-show="msgfav">
					{{msgf}}
		   </div>
		</ul>
		</div>
    </ion-content>
    <ion-footer class="bms_profile_footer_bay">
      <div class="row p0">
        <div class="col-33"><button class="bms_profile_footer_btn theme_primary" ui-sref="menu.home"><i class="ion-ios-plus-outline"></i>NEW</button></div>
        <div class="col-33"><button class="bms_profile_footer_btn theme_primary" ui-sref="profile"><i class="ion-ios-person-outline"></i>YOU</button></div>
        <div class="col-33"><button class="bms_profile_footer_btn theme_primary" ng-click="mybooking()"><i class="ion-ios-bookmarks-outline"></i>BOOK</button></div>
      </div>
    </ion-footer>
</ion-view>
