/*. {
    opacity: 0;
    position: relative;
    left: 25px;
    width: 20px;
    z-index: 999;
}*/
/*.buttons-right {
    opacity: 1 !important;
}*/
.shop_search {
    width: 35px;
    height: 25px;
    position: absolute;
    top: 10px;
    right: 0px;
    opacity: 0;
}
.ion-navicon {
    display: block !important;
}
.my_icon {
    padding:0 8px !important;
}
.my_home_icon {
    padding:0 8px !important;
    position: absolute;
    right: 0px;
}
.landing .header-item {
    left: 0px !important;
    right: 0px !important;
}
.pos_relative {
    position:relative !important;
}
.content_height {
    width:100%;
    height: calc(100vh - 10vh);
    float:left;
}
.back-button {
    display:none !important;
}
.search_ser {
    width: 90% !important;
    margin: 5px 5%;
}
.search_ser input{
    background-color: #fff !important;
    background:url("../img/bms-search1.png");
    background-repeat:no-repeat !important;
    background-size: 15px !important;
    background-position: right 10px top 8px !important;
}
.no_ser {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding-left: 15px;
    color: #4a4040;
    padding-bottom: 5px;
    font-weight: 100;
}
.forgot_error{
    color:red;
    width: 100%;
    text-align: center;
}
.error_cabin {
    /*height: 30px;*/
    text-align: center !important;
    margin-bottom:10px;
    font-weight: 600;
}
.no_result {
    color: red;
    width: 100%;
    height: 80px;
    text-align: center;
    padding: 30px 0px;
}
.no_back {
    background: transparent !important;
    border: none !important;
}
.edit_prof_pic{
	width: 100%;
    text-align: center;
    border: 2px solid #fff;
    border-radius: 8px;
    background-color: rgba(240, 82, 95, 0.21) !important;
}
.edit_prof_pic p {
	color: #fff;
	text-align: left !important;
	padding-left:10px;
	padding-top:10px;
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;
}
.edit_pic {
	width: 110px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    left:5px;
    top:5px;
    z-index: 999;
    opacity: 0;
}
.prof_edit {
	position: absolute;
    top: 5px;
    right: 128px;
    height: 55px !important;
    width: 45px !important;
}

.forgot_input {
	width: 100%;
    border: 1px solid #9E9E9E !important;
    margin-bottom: 10px;
    text-align: center;
}
.forgot_pass{
	width:100%;
	text-align: center;
	margin:10px 0px;
}
.forgot_pass h3{
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.forgot_hr {
	border-top: 0px;
	border-bottom: 2px solid #fff;
	margin-top: -5px;
	width:135px;
}
.rate_message{
	margin: 20px 0px;
}
.history_list{
	width:50% !important;
}
.custom_footer{
	background-image: none !important;
    width:100%;
}
.footer_content {
    width:100%;
    height: 10vh;
    float:left;
    text-align: center;
    position: relative;
}
.sign_foot {
    position: absolute;
    bottom: 20px;
}
.footer_content h1 {
	width: 280px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 16px;
    border-bottom: 2px solid #fff;
    padding-bottom: 5px;
}

.edit_msg {
	width: 100%;
    margin: 50px auto;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 17px;
    text-align: center;
}
.signup_message {
	width: 100%;
    margin: 10px 0 50px 0px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 17px;
    text-align: center
}
.bms-edit-pop-div input::-webkit-input-placeholder{
	 color: #fff;
}
.bms-edit-pop-div input {
    background-color: rgba(240, 82, 95, 0.21) !important;
}


/*-- GENERAL --*/
.bms-right-icon{position: relative;right: 10px;top: 3px;}
.bms-left-icon{position: relative;left: 10px;top: 3px;}
.height100{height:100% !important;}
.clear{clear:both !important;}
.popup-buttons{background:#fff;}
.color_blue {color:#f0525f !important;}
.failure{text-align: center !important;color: #fff !important;}

.no-result{background:url(../img/caution.png) !important;background-repeat:no-repeat !important;background-position:center !important;background-size:100px !important;text-align:center;color:#f0525f;font-family:Reef;height:200px;    padding-top: 175px; font-size: 16px;}
.bms-alert{width:100%;text-align:center;color:#f0525f;font-family:Reef;padding-top: 5px;}

/*background*/

.theme-bg{background-color:#f0525f;border: none;}
.theme-bg2{background-color:#f3f3f3;border: none;}
.theme-dark{background-color:#313034;border:none;}
.theme-bg3{background:url(../img/bms-bg.png) !important;background-repeat:no-repeat !important;background-size:cover !important;background-position:center !important;}
.theme-bg4{background-color:#f3f3f3 !important; border:none;}
.theme-side{background:rgba(59,58,63,0.9) !important;top: 0px !important;}

/*font*/

@font-face {font-family:Reef;src: url(../font/Reef.otf);}

/*text-color*/

.text-white{color:#fff !important;}
.text-black{color:#000 !important;}
.text-theme{color:#f0525f !important;}
.text-grey{color:#847f7f !important;}

/*alignment*/

.float-l{float:left !important;}
.float-r{float:right !important;}
.text-align-left{text-align:left !important;}
.text-align-right{text-align:right !important;}

/*buttons*/

.icon{font-size:25px;vertical-align:-4px;}
.icon-filter{background:url(../img/bms-filter.png) !important;width:20px;height:20px;background-repeat:no-repeat !important;background-size:cover !important;background-position:center !important;    margin-left: 11px; margin-top: 7px;}
.icon-search{background:url(../img/bms-search11.png) !important;width:20px;height:20px;background-repeat:no-repeat !important;background-size: 18px !important;background-position:center !important;    margin-left: 11px; margin-top: 7px;}
.icon-frwrd{background:url(../img/bms-frwrd.png) !important;width:20px;height:20px;background-repeat:no-repeat !important;background-size: 18px !important;background-position:center !important;    margin-left: 11px; margin-top: 7px;}
.icon-edit{background:url(../img/bms-edit1.png) !important;width:20px;height:20px;background-repeat:no-repeat !important;background-size: 20px !important;background-position:center !important;    margin-left: 11px; margin-top: 7px;}

/*frames*/

.bms-wrapper{width:100%;}
.bms-wrapper-inner{width:280px;margin:0 auto;}
.bar.bar-stable {background: #ef5958;border: none;color:#fff !important;}
.bar-stable .button.button-clear {color:#fff !important;}
.bar-stable .button.button-icon {border-color: transparent;background: none;color: #fff;}


/*-- SIGN-IN --*/

.bms-logo{width:180px;margin:0 auto;padding-top:50px;text-align:center;}
.bms-logo img{width:100%;height:100%;}
.bms-sign-input{width:100%;font-family:Reef;border:none;background:#f0525f;color:#fff !important;border-bottom:2px solid #fff !important;font-size: 19px !important;background:url(../img/bms-user.png);    background-repeat: no-repeat;padding-left: 35px !important;    padding-bottom: 10px;margin-bottom:15px;background-size: 20px 20px;}
.bms-sign-input1{width:100%;font-family:Reef;border:none;background:#f0525f;color:#fff !important;border-bottom:2px solid #fff !important;font-size: 19px !important;background:url(../img/bms-pass.png),url(../img/bms-ques.png);background-position:left 0px,right;    background-repeat: no-repeat;padding-left: 35px !important;    padding-bottom: 10px;margin-bottom:15px;background-size: 19px 20px,20px 20px;}
.bms-sign-details{width:100%; padding-top: 10%;}
.bms-sign-btn{width:100%;margin-top:15px;margin-bottom: 15px;height:40px;background:#ffffff; border:none;font-family: 'Open Sans', sans-serif;font-weight:600;color:#847f7f !important;font-size: 19px;border-radius: 18px;}
.bms-sign-footer{font-weight:600;text-align:center;width:100%;float:left;margin:0 auto; padding-top:25px;}
.bms-sign-footer h1{width:280px;margin:0 auto;margin:0 auto;font-family: 'Open Sans', sans-serif;color:#fff;font-size: 16px;border-bottom:2px solid #fff;padding-bottom: 5px;}

/*-- SIGN-UP --*/

.bms-sign-input-none{width:100%;font-family:Reef;border:none;background:#f0525f;color:#fff !important;border-bottom:2px solid #fff !important;font-size: 19px !important;padding-bottom: 0px;margin-bottom:10px;}
.bms-sign-details p{font-family: 'Open Sans', sans-serif;color:#fff;font-size:11px;    padding-top: 15px;}
.bms-sign-details input[type=checkbox] {display: none;}
.bms-sign-details label:before {content: "";display: inline-block;width: 16px;height: 16px;margin-right: 10px;position: absolute;left: 0;bottom: 1px;background-color:transparent;border:1px solid #fff;}
.bms-sign-details label {margin-bottom: 10px;}
.bms-sign-details label:before {border-radius: 3px;}
.bms-sign-details input[type=checkbox]:checked + label:before {content: "\2713";font-size: 15px;color: #fff;text-align: center;line-height: 15px;}

/*-- BOOKING-CONFIRMATION --*/

.bms-icon{font-size: 29px;color: #fff;text-align:center;    background: transparent;border:none;}
.bms-head-title{width:100%;text-align:center;font-family: 'Open Sans', sans-serif;color:#fff;font-weight:600;text-align:center;font-size: 18px;padding-top: 2px;}
.bms-booking-div{width:100%;padding:10px;}
.bms-booking-div-inner{width:100%;background:#ffffff;border:1px solid #e1e1e1;min-height:400px;padding:20px;}
.bms-booking-div-inner-logo{width:100%;text-align:center;}
.bms-booking-div-inner-logo img{width:120px;}
.bms-book-ack{width:100%;text-align:center;border-bottom:1px dashed #a8a8a8;padding-bottom:30px;}
.bms-book-ack h4{text-align:center;width:100%;font-family: 'Open Sans', sans-serif;color:#f0525f;font-weight:600;}
.bms-book-ack p{font-family: 'Open Sans', sans-serif;color:#847f7f;font-weight:600;margin:0px;}
.bms-button-bay{width:100%;padding-top: 30px;float: left !important;padding-bottom: 35px;}
.bms-book-btn{background-color:#f0525f;color:#fff;font-family: 'Open Sans', sans-serif;border:none;height:35px;width:49%;border-radius: 100px;}

/*-- BOOKING-HISTORY --*/

.bms-history-wrap{width:100%;padding:10px;}
.bms-history-head{width:100%;background:#fff;height:35px;border:1px solid #e1e1e1;font-family: 'Open Sans', sans-serif;color:#000;font-weight:600;margin-bottom: 5px;padding-left: 20px;padding-right:20px;padding-top: 5px;}
.bms-history-wrap ul {background:#fff;padding:10px;border:1px solid #e1e1e1;min-height:400px;}
.bms-history-wrap ul li{height:45px;border-bottom:1px dotted #e1e1e1;width:100%;    padding-top: 5px;}
.bms-history-wrap h4{font-family: 'Open Sans', sans-serif;color:#847f7f;    font-size: 14px;width:70%;font-weight:600;}
.bms-history-wrap p{font-family: 'Open Sans', sans-serif;    font-size: 12px;padding-top:4px;width:30%;font-weight:600;text-align: right;}
.bms-view-arw{color:#f0525f;font-size:20px ;position: relative; top: 4px;margin-left: 8px;}

/*-- BOOKING-HISTORY-DETAILS --*/

.bms-history-details-wrap{width:100%;float: left;padding: 7px;}
.bms-history-details-wrap-inner{background:#fff;float:left;width:100%;border:1px solid #e1e1e1;padding: 15px;padding-top: 0px;padding-bottom: 0px;border-bottom:none;}
.bms-history-details-wrap ul{float:left;width:100%;}
.bms-history-details-wrap ul li{width:100%;float:left;border-bottom:1px dotted #a8a8a8;padding-top: 15px;}
.bms-history-details-wrap h1{font-size:14px;font-weight:600;padding-bottom: 10px;}
.bms-list-inside{width:100%;font-family: 'Open Sans', sans-serif;color:#847f7f;font-size:14px;border:none !important;padding:0px !important;padding-bottom: 10px !important;}
.bms-list-inside li{float:left !important;border:none !important;padding:0px !important;}
.bms-list-inside h1{font-size:14px;font-weight:600;margin:0px;}
.bms-list-child1{width:75% !important;}
.bms-list-child2{width:25% !important;}
.bms-book-rate-wrap{width:100%;border:1px solid #e1e1e1;background:#fff;margin-top:10px;float:left;text-align:center;padding:20px;}
.bms-book-rate-wrap h3{font-family: 'Open Sans', sans-serif;text-align:center;font-weight:700;font-size:12px;}
.bms-book-rate-wrap p{font-family: 'Open Sans', sans-serif;margin:0px;font-size:13px;line-height: 20px;}
.bms-ratting{width:100%;    padding-top: 10px;}
.bms-edit-btn{margin-top:10px;background:#fff;border:1px solid #a8a8a8;color:#a8a8a8;border-radius:20px;font-size:12px;width:100px;height: 25px;}




/*BOOKING1*/

.bg{background:url(../img/bms-booking1-banner.png) !important;color:#fff !important;}
.bms-details{width:100%;float:left;padding: 10px;padding-top:0px;padding-bottom:0px;}
.bms-detail-head{
	font-size:12px; margin-bottom: 10px;
	/*background:url(../img/bms-edit.png) !important;
	background-repeat: no-repeat !important;
	background-position: right 5px top 2px !important;
	background-size: 15px !important;*/
}
.bms-details ul{float:left;width:100%;}
.bms-details ul li{float:left;width: 50%;}
.bms-details ul li img{width:17px;margin-right: 10px;}

/*SHOP-DETAILS*/

.bms-shopdetails{width:100%;padding:10px;}
.bms-shop{width:100%;background:#fff;border:1px solid #e1e1e1;}
.bms-shop-banner{width:100%;height:120px;position:relative;}
.bms-shop-banner img{width:100%;height:100%;}
.bms-rated{background:#00cc9a;position:absolute;text-align:center;font-family: 'Open Sans', sans-serif;color:#fff;padding:3px;font-weight:600;bottom:10px;left:10px;}
.bms-call1{background:rgba(0,0,0,.5);position:absolute;text-align:center;font-family: 'Open Sans', sans-serif;color:#fff;width:30px;height:30px;border-radius:50%;font-weight:600;bottom:10px;right:45px;}
.bms-call1 img{width: 15px;height: auto;vertical-align: -9px;}
.bms-fav{background:rgba(0,0,0,.5);position:absolute;text-align:center;font-family: 'Open Sans', sans-serif;color:#fff;width:30px;height:30px;border-radius:50%;font-weight:600;bottom:10px;right:10px;}
.bms-fav img{width: 17px;height: auto;vertical-align: -8px;}
.bms-shop-name{padding:10px;position:relative;}
.bms-shop-name h6{margin:0px;font-family: 'Open Sans', sans-serif;color:#313034;font-weight:600;}
.bms-shop-name p{font-family: 'Open Sans', sans-serif;color:#666666;}
.bms-book-btn1{background-color:#ff696e;border:none;font-family: 'Open Sans', sans-serif;color:#fff;position:absolute;right:10px;bottom:19px;padding:6px;border-radius:3px;font-size:12px;}
.bms-list{width:100%;background:#fff;border:1px solid #e1e1e1;margin:10px 0;float:left;}
.bms-list ul{width:100%;padding:15px;padding-top:0px;padding-bottom:0px;float:left;}
.bms-list ul li{width:100%;border-bottom:1px dotted #a8a8a8;padding-top: 10px;padding-bottom: 10px;float:left;}
.bms-list ul li h4{font-family: 'Open Sans', sans-serif;color:#313034;font-weight:600;font-size: 14px;}
.bms-list ul li p{font-family: 'Open Sans', sans-serif;color:#8e8a8a;font-size: 12px;text-align:justify;line-height: 20px;}
.bms-service-list{float:left;padding:5px !important;width:100%;}
.bms-service-list li{width:30% !important;float:left !important;color:#8e8a8a;border-radius:50px;text-align:center;font-family: 'Open Sans', sans-serif;font-size:10px;margin:1%;background:#f0525f;color:#fff;}
.bms-gallery-list{width:100%;padding:0px !important;}
.bms-gallery-list li{width:92px !important;height:92px;margin:5px;position:relative;padding:0px !important;}
.bms-gallery-list li img{height:100%;width:100%;}
.c1{background:rgba(230,104,107,0.5);position:absolute;bottom:0px;right:0px;width:30px;height:30px;text-align:center;color:#fff;font-size:28px !important;}
.bms-review{width:100%;padding:15px;float: left;}
.bms-review-head{width:100%;border-bottom:2px solid #000;float:left;}
.d1{width:50%;float:left;font-family: 'Open Sans', sans-serif;color: #313034;font-weight: 600; font-size: 14px;padding-bottom:10px;}
.bms-review-list{width:100%;}
.bms-reviewr-name{width:100%;position:relative;}
.bms-reviewr-pic{width:60px;height:60px;border:1px solid #a8a8a8;border-radius:50%;}
.bms-reviewr-pic img{width:100%;height:100%;border-radius:50%;}
.bms-reviewr-name h1{font-family: 'Open Sans', sans-serif;color: #313034;font-weight: 600; font-size: 16px;margin:0px;position:absolute;top: 20px;left: 75px;}
.bms-reviewr-name p{font-family: 'Open Sans', sans-serif;color:#847f7f;    font-size: 12px !important; line-height: 17px !important; padding-top: 10px;}
.bms-usr-int-bay{width:100%;}
.bms-like{background:url(../img/bms-like.png) !important;background-repeat:no-repeat !important;width:40px;height:30px;float:left;text-align:right;color:#989494;font-family: 'Open Sans', sans-serif;font-size: 17px;margin-right:20px; background-position: 2px !important;padding-top: 6px;}
.bms-unlike{background:url(../img/bms-unlike.png) !important;background-repeat:no-repeat !important;width:40px;height:30px;float:left;text-align:right;color:#989494;font-family: 'Open Sans', sans-serif; font-size: 17px;margin-right:20px;background-position: 2px !important;padding-top: 6px;}
.bms-comment{background:url(../img/bms-comment.png) !important;background-repeat:no-repeat !important;width:40px;height:30px;float:left;text-align:right;color:#989494;font-family: 'Open Sans', sans-serif;font-size: 17px;margin-right:20px; background-position: 2px !important;padding-top: 6px;}

/*SEARCH*/

.bms-search1{width:100%;padding-left:15px;padding-right:15px;margin-top:10px;}
.bms-search1-input{width:100%;background:url(../img/bms-search1.png) !important;background-repeat:no-repeat !important;background-position:left 10px top 8px !important;background-size:16px !important;padding-left: 30px !important;font-size: 16px !important;}
.bms-footer{width:100%;position:fixed;bottom:0px;background:#ef5958;height:40px;}
.bms-footer li{list-style:none;float:left;width:33.3%;text-align:center;height:100%;border-right:1px solid #fff;font-family: 'Open Sans', sans-serif;color:#fff;position:relative;font-size:17px;padding-top: 11px;}
.bms-footer li img{position:absolute;left: 13px;top: 8px;width: 30px;}
.bms-search-input2{width:100%;background:#fff;border-radius:3px;height:30px !important;padding-left:15px !important;margin-top:5px;}
.footer1{background:url(../img/bms-new.png);background-repeat:no-repeat;background-position: left 10px top 10px;background-size: 20px;}
.footer2{background:url(../img/bms-you.png);background-repeat:no-repeat;background-position: left 10px top 10px;background-size: 20px;}
.footer3{background:url(../img/bms-book.png);background-repeat:no-repeat;background-position: left 10px top 12px;background-size: 20px;}
.footer4{background:url(../img/bms-sort.png);background-repeat:no-repeat;background-position: left 25px top 10px;background-size: 20px;}
.footer5{background:url(../img/bms-filter1.png);background-repeat:no-repeat;background-position: left 25px top 10px;background-size: 20px;}
.bms-search-input{width:100%;padding-left:10px !important;}

/*LANDING*/

.bms-profile-bay{width:100%;height:220px;background:#e65b50;position:relative;text-align: -webkit-center;text-align: -moz-center;padding-top: 15px;}
.arrow-down {width: 0; height: 0; border-left: 15px solid transparent;border-right: 15px solid transparent; border-top: 20px solid #e65b50;position:absolute;bottom:-16px;left:46%;}
.bms-profile-photo{width:110px;height:110px;border-radius:50%;border:3px solid #fff;}
.bms-profile-photo img{border-radius:50%;width:100%;height:100%; color: #fff;}
.bms-profile-bay h1{font-family: 'Open Sans', sans-serif;color: #fff;font-size: 20px;}
.bms-profile-bay p{font-family: 'Open Sans', sans-serif;color: #fff;}
.bms-profile-bay p img{width: 15px;height: auto; vertical-align: -3px;margin-right: 5px;}
.bms-landing-list{width:100%;background:rgba(227,85,74,0.6);position: relative;top: 60px;}
.bms-landing-list ul{width:100%;padding-left: 15px;padding-right: 15px;}
.bms-landing-list ul li{width:100%;color:#fff;font-family: 'Open Sans', sans-serif;font-weight:300;padding:15px;font-size:20px;}
.l1{background:url(../img/bms-booking.png);background-repeat:no-repeat;background-position:right;background-size: 25px 26px;}
.l2{background:url(../img/bms-star.png);background-repeat:no-repeat;background-position:right;background-size: 30px;}
.l3{background:url(../img/bms-bookmark.png);background-repeat:no-repeat;background-position:right;background-size: 30px;}
.l4{border-bottom: 1px solid #e65b50; background: url(../img/bms-edit1.png);background-repeat:no-repeat;background-position:right;background-size: 25px;}
/*USER-PROFILE*/

.bms-circle{position:absolute;background-color:#fff !important;width:50px;height:50px;border-radius:50%;background:url(../img/bms-edit.png);background-repeat:no-repeat;background-position:center;background-size:25px;left:20px;top:25%;}
.bms-circle1{position:absolute;background-color:#fff !important;width:50px;height:50px;border-radius:50%;background:url(../img/bms-share.png);background-repeat:no-repeat;background-position:center;background-size:25px;right:20px;top:25%;}
.bms-user-profile-div{width:90%;margin:0 auto;height:60px;background:#fff;margin-top: 10px;}
.bms-user-profile-div li{width:25%;float:left;list-style:none;text-align:center;height:100%;padding: 10px;border-right:1px solid #f3f3f3;}
.bms-user-profile-div li h6{font-family: 'Open Sans', sans-serif;color:#847f7f;margin:0px;font-size: 12px;}
.bms-user-profile-div li p{font-family: 'Open Sans', sans-serif;color:#464646;font-weight:700;font-size:16px;margin:0px;padding-top: 5px;}
.bms-user-func{width:100%;}
.bms-user-func-inner{width:80%;height:300px;background:#fff;border:1px solid #e0e0e0;margin:0 auto;margin-top: 35px;}
.a{width:100%;border-bottom:1px solid #e0e0e0;height:150px;font-family:Reef;text-align:center;color:#6d6969;font-size: 18px;}
.a1{width:50%;float:left;border-right:1px solid #e0e0e0;height:150px;font-family:Reef;text-align:center;padding: 36px;}
.a2{width:50%;float:left;height:150px;font-family:Reef;text-align:center;padding: 36px;}

/*EDIT-PROFILE*/

.bms-edit-pop-div{width:320px;margin:0 auto;padding-top: 35px;min-height: 310px;padding-bottom: 50px;}
.bms-edit-prof-input{width:100%;background:transparent;border:2px solid #fff !important;padding-left:10px !important;color:#fff !important;font-family: 'Open Sans', sans-serif;margin-bottom: 15px;border-radius: 8px;}
.bms-edit-prof-pic{width:125px;height:125px;border:1px solid #fff;border-radius:50%;margin:0 auto;position: relative;}
.bms-edit-prof-pic img{width:100%;height:100%;border-radius:50%;    position: absolute;left: 0px;right:0px;bottom:0px;top:0px;z-index: 99;}
.bms-image-bay{width:100%;text-align:center;}
.bms-edit-btn11{background:url(../img/edit-2.png);background-repeat:no-repeat;background-color:#ef5958 !important;width:100px;height:40px;background-size: 25px; background-position: right 10px top 7px;position: absolute;top: 45px;left: 75px;    border-radius: 25px;}

/*TRENDING*/

.bms-trending-div{width:100%;}
.bms-trending-div ul {padding:10px;float:left;}
.bms-trending-div ul li{background:#ffffff;margin-bottom:10px;border:1px solid #e1e1e1;float:left;}
.bms-trend-head{width:100%;padding: 9px;float:left;}
.bms-trend-head-left{width:75%;float:left;font-family: 'Open Sans', sans-serif;font-size: 12px;}
.bms-trend-head-right{width:25%;float:left;color:#847f7f;font-family: 'Open Sans', sans-serif;font-size: 9px;text-align: right;}
.bms-trend-banner{width:100%;height:150px;float:left;}
.bms-trend-banner img{width:100%;height:100%;}
.bms-readmre{background:#f0525f !important;color:#fff;font-family: 'Open Sans', sans-serif;border:none;font-size:12px;padding:11px;}

/*TRENDING-1*/

.bms-trend-above{width:100%;float:left;padding: 10px;border-bottom: 1px dotted #a8a8a8;}
.bms-post-pic-wrap{float:left;width:13%;}
.bms-post-pic{width:40px;height:40px;}
.bms-post-pic img{width:100%;height:100%;}
.bms-post-detail{float:left;width:65%;padding-left: 10px;}
.bms-post-detail p{margin:0px;color:#a19d9d;font-family: 'Open Sans', sans-serif;font-size: 9px;}
.bms-post-detail h6{margin:0px;font-family: 'Open Sans', sans-serif;font-size: 12px;padding-top: 5px;}
.bms-post-edit{float:right;width:22%;text-align:right}
.bms-post-edit p{margin:0px;color:#a19d9d;font-family: 'Open Sans', sans-serif;font-size: 9px !important;}
.bms-comment-box{background:#fff;float:left;width:100%;    padding: 5px;}
.bms-comment-div{width:87%;float:left;border: 1px solid #ddd;padding:5px;}
.bms-cam{width:30px;height:25px;background:url(../img/bms-cam.png);background-repeat:no-repeat;float:left;background-position:center;}
.bms-emoji{width:30px;height:25px;background:url(../img/bms-emoji.png);background-repeat:no-repeat;float:left;background-position:center;}
.bms-cmnt-btn-bay{float:right;width:121px;}
.bms-post-btn{float:left;color:#dddd;border:1px solid #ddd;font-family: 'Open Sans', sans-serif;padding:3px;padding-left: 15px;padding-right: 15px;color:#a8a8a8;}
.bms-div-commenmt{width:100%;height:30px !important;padding-left:5px !important;font-size: 12px !important;}
.bms-cmnt-wrap{float:left;width:55%;}
.bms-response-div{width:100%;}
.bms-response-div ul{width:100%;}
.bms-response-div ul li{width:100%;margin:0px !important;border:none !important;}
.bms-response-div ul li p{width:100%;font-family: 'Open Sans', sans-serif;color:#a8a8a8;float:left;font-size: 12px;line-height:20px;padding-left:10px;padding-right:10px;}
.bms-response-1{width:100%;float:left;    border-top: 1px solid #000;border-bottom: 1px solid #000;padding-left: 10px;padding-right: 10px;padding-top:3px;padding-bottom:3px;}

/*BOOKING-DATE*/

.bms-booking-wrap{background:#fff;border:1px solid #e1e1e1;float: left;width: 100%;    margin-top: 10px;margin-bottom:10px;}
.bms-booking-wrap h3{text-align:center;margin:0px;font-family: 'Open Sans', sans-serif;font-size: 16px;font-weight:600;padding-top:10px;padding-bottom:10px;}
.bms-booking-wrap-inner{padding:10px;}
.bms-datentime-btn-bay{width:100%;float:left;}
.bms-date{width:50%;float:left;text-align:center;background:#7e7e7e;color:#fff;font-family: 'Open Sans', sans-serif;padding: 2px;}
.bms-date p{margin:0px;padding: 5px;font-size: 12px;}
.bms-date img{width: 15px;position:relative; margin-right: 8px;top: 2px;}
.bms-time{width:50%;float:right;text-align:center;background:#e9e7e7;color:#fff;font-family: 'Open Sans', sans-serif;padding: 2px;}
.bms-time p{margin:0px;padding: 5px;font-size: 12px;}
.bms-time img{width: 16px;position:relative;margin-right: 8px;top: 2px;}
.bms-cal-div{width:100%;float:left;}
.bms-cal-top{width:100%;float:left;height:50px;}
.arw1{width:20%;float:left;height:100%;background:url(../img/arw1.png);background-repeat:no-repeat;background-position:center;background-size: 11px;}
.arw2{width:20%;float:right;height:100%;background:url(../img/arw2.png);background-repeat:no-repeat;background-position:center;background-size: 11px;}
.acc-cal-head{width:60%;float:left;text-align:center;height:100%;font-family: 'Open Sans', sans-serif;color:#847f7f;font-size:16px;padding-top: 12px;}
.bms-cal-content{width:100%;float:left;}
.bms-cal-content ul{width:100%;float:left;}
.bms-cal-content ul li{width:14.28%;float:left;text-align:center;list-style:none;float:left;color:#847f7f;font-family: 'Open Sans', sans-serif;font-size:12px;}
.bms-cal-content1{width:100%;float:left;padding: 10px;}
.bms-cal-content1 ul{width:100%;float:left;}
.bms-cal-content1 ul li{width:14.28%;float:left;text-align:center;list-style:none;float:left;color:#666666;font-family: 'Open Sans', sans-serif;font-size:12px;padding: 10px;}
.cal-disable{color:#bcbcbc !important;}
.bms-booking-wrap h1{width:100%;font-family: 'Open Sans', sans-serif;font-size:13px;padding: 15px;color:#000;padding-bottom:5px;font-weight: 700;}
.bms-apply{width:100%;text-align:center;float:left;padding: 20px;border-top:1px dotted #a8a8a8;margin-top:20px;}
.bms-apply-btn{color:#fff;font-family: 'Open Sans', sans-serif;background:#ff696e;border:none;padding-left:8px;padding-right:8px;border-radius:3px;padding:8px;}

/*-------------------*/
.bms-date-wrap{width:100%;}
.bms-date-bottom{width:100%;background:#f1a2a9;text-align:center;padding-bottom:20px;padding-top:90px;}
.bms-date-inside{width:250px;margin:0 auto;padding: 5px;background-color: #f3f3f3;position: relative;top: 60px;}
.bms-date-inside1{width:100%;height:100px;border:1px solid #f0525f;border-radius:3px;}
.bms-date-inside2{width:100%;height:100px;border:1px solid #f0525f;border-radius:3px;}
.bms-pick-btn{color:#fff;border:none;font-family: 'Open Sans', sans-serif;background:#ff696e;padding:5px;border-radius:3px;}
.bms-date-left{width:50%;float:left;}
.bms-date-circle{width:100px;height:100px;border-radius:50%;background-color: #f3f3f3;position:relative;top: -25px;left: 5px;box-shadow: 0px 3px 2px 0px #000;padding: 6px;}
.bms-date-circle1{width:100%;height:100%;text-align:center;padding-top: 8px;padding-left: 20px;}
.bms-date-circle1 img{width: 35px;}
.bms-date-circle12{width:100%;height:100%;text-align:center;padding-top: 8px;}
.bms-date-circle12 img{width: 35px;}
.bms-date-circle-inner{width:100%;height:100%;background:#f0525f;border-radius:50%;text-align:center;padding-top: 18px;}
.bms-date-circle-inner img{width:35px;}
.bms-date-circle-inner2{width:100%;height:100%;background:#f0525f;border-radius:50%;text-align:center;padding-top: 18px;}
.bms-date-circle-inner2 img{width:35px;}
.bms-date-circle1 h4{margin:0px !important;font-family: 'Open Sans', sans-serif;text-align:left;font-size: 14px;}
.bms-date-circle1 h3{margin:0px !important;font-family: 'Open Sans', sans-serif;text-align:left;font-size: 30px;font-weight: 600;}
.bms-date-circle1 h2{margin:0px !important;font-family: 'Open Sans', sans-serif;text-align:left;color:#f0525f;}
.bms-date-circle-inner p{margin:0px !important;font-family: 'Open Sans', sans-serif;color:#fff;font-weight:500;font-size: 18px;padding-top: 14px;}

/*-------------------*/

/*BOOKING-TIME*/

.acc-cal-head1{width:100%;float:left;text-align:center;height:100%;font-family: 'Open Sans', sans-serif;color:#847f7f;font-size:16px;padding-top: 12px;}
.bms-cal-content2{width:100%;float:left;padding: 10px;}
.bms-cal-content2 ul{width:100%;float:left;}
.bms-cal-content2 ul li{width:16.66%;float:left;text-align:center;list-style:none;float:left;color:#666666;font-family: 'Open Sans', sans-serif;font-size:12px;padding: 10px;}

/*SORT-POP-UP*/

.bms-sort-pop-up{width:300px;position:relative;background:#fff;margin:0 auto;}
.bms-sort-pop-up h1{font-size:15px;text-align:left;margin:0px;border-bottom: 1px solid #d7d8d9;padding: 10px;padding-left: 20px;}
.popup-head {display:none;}
.bms-close{position:absolute;top:-30px;right: 20px;width:20px;height:20px;z-index: 99;}
.popup-body {padding:0px !important;}
.bms-sort-pop-up ul{padding: 15px;padding-top:0px;padding-bottom:0px;}
.bms-sort-pop-up ul li{font-family: 'Open Sans', sans-serif;color:#847f7f;border-bottom:1px dotted #d7d8d9;padding-top: 10px; padding-bottom: 10px;padding-left:25px;}
.w1{background:url(../img/bms-popular.png),url(../img/bms-pop-arrow.png);background-repeat:no-repeat;background-position:left,right;background-size: 15px,8px;}
.w2{background:url(../img/bms-discount.png),url(../img/bms-pop-arrow.png); background-repeat:no-repeat;background-position:left,right;background-size: 15px,8px;}
.w3{background:url(../img/bms-whatsnew.png),url(../img/bms-pop-arrow.png); background-repeat:no-repeat;background-position:left,right;background-size: 15px,8px;}



/*SIDE-MENU*/

.bms-side-bg{background:url(../img/side-bg.png) !important;background-repeat: no-repeat;background-size: cover !important;    width: 250px;}
.bms-side-menu-wrap{width:100%;}
.bms-side-menu-wrap{width:250px;margin:0 auto;}
.bms-side-menu-head{width:100%;text-align: -webkit-center;text-align:-moz-center;padding-top: 40px; padding-bottom: 30px;}
.bms-side-menu-head h4{font-family: 'Open Sans', sans-serif;color:#fff;font-size: 25px;}
.bms-side-prof{width:90px;height:90px;border-radius:50%;background:url(../img/default.png) !important;background-repeat: no-repeat;background-size: cover !important;}
.bms-side-prof img{border-radius:50%;width:100%;height:100%;}
.bms-side-body ul{width:100%;}
.bms-side-body ul li{width:100%;border-bottom:1px solid #808080; height: 28px;font-family: 'Open Sans', sans-serif;margin-bottom: 30px;}
.bms-side-icon{width:20%;float:left;height:100%;}
.bms-side-detail{width:80%;float:left;height:100%;border-left:1px solid #808080;background:rgba(240,82,96,0.4) !important;color:#808080 !important;font-size: 14px;padding: 4px;padding-left: 20px;}
.home{background:url(../img/home.png) !important;background-repeat:no-repeat !important;background-position: center !important;background-size: 15px !important;}
.settings{background:url(../img/bms-search1.png) !important;background-repeat:no-repeat !important;background-position: center !important;background-size: 15px !important;}
.booking{background:url(../img/booking.png) !important;background-repeat:no-repeat !important;background-position: center !important;background-size: 15px !important;}
.logout{background:url(../img/logout.png) !important;background-repeat:no-repeat !important;background-position: center !important;background-size: 15px !important;}
.bms-side-detail:hover{width:80%;float:left;height:100%;border-left:1px solid #808080;background:#f05260 !important;color:#fff !important;font-size: 15px;padding: 4px;padding-left: 20px;}
.bms-side-detail:focus{width:80%;float:left;height:100%;border-left:1px solid #808080;background:#f05260 !important;color:#fff !important;font-size: 15px;padding: 4px;padding-left: 20px;}
.bms-sort-pop-up ul li a{padding:0px;text-decoration:none;color:#f05260;}

/*OTP-POP-UP*/

.bms-otp{width:100%;background:#fff;height:150px;padding: 20px;}
.bms-otp-input{width:100% !important;border:1px solid #a8a8a8 !important;padding-left:10px !important;border-radius:5px !important;}
.bms-otp p{font-family: 'Open Sans', sans-serif;font-style:italic;padding-top:10px;}
.bms-otp a{text-decoration:none;}
.bms-otp-btn{width:100%;color:#fff;font-family: 'Open Sans', sans-serif;background-color:#f0525f;border:none;padding:5px;}


/*BMS-RATE-POP-UP*/

.bms-rate-pop{width:100%;}
.bms-rate-pop h1{color:#fff;font-size:16px;text-align:center;font-family: 'Open Sans', sans-serif;background-color:#f0525f;margin:0px !important;padding: 7px;}
.bms-rate-pop-body{width:100%;background:#fff;padding: 20px;padding-top:0px;}
.bms-rate-pop-body h5{margin:0px;padding-top:10px;padding-bottom:10px;}
.bms-pop-rate-input{border:1px solid #e7e7e7;margin-bottom:10px;}


/*SWITCH*/



/*GALLERY*/

.bms-gallery{    width: 100%;position: relative; top: 180px;}
.bms-gallery img{width:100%;height:100%;}
.bms-gallery-close{    width: 30px;height: 30px; position: absolute; right: 0px;top: 10px;}



/* BMS-CUSTOM-REMAP-CSS */

/*-- SIGNIN-SIGNUP --*/

.bms_toast_message{width:100%;padding:10px;color:#fff;background: rgba(0,0,0,0.8);position: absolute;top:0px;left:0px;right:0px;font-weight: 300;}
.bms_wrapper{width:100%;height:100%;padding-top:25%;}
.bms_sign_inner{width:85%;margin:0 auto;height:100%;}
.bms_logo{width:100%;text-align: center;}
.bms_logo img{width:150px;}
.bms_sign_form{width:100%;padding-top: 40px;}
.bms_sign_form_row{width:100%;margin-bottom: 20px;}
.bms_sign_input_container{width:100%;}
.bms_sign_input{border:none !important;background: transparent;color:#fff !important;font-size: 18px !important;font-weight:300;border-bottom:1px solid #fff !important;width:100% !important;height:45px !important;padding-left: 35px !important;}
.bms_sign_input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background: transparent !important;background-image: none;width:100% !important;}
.bms_sign_input::-webkit-input-placeholder {color:#fff !important;}
.bms_sign_input::-moz-placeholder {color:#fff !important;}
.bms_sign_input:-ms-input-placeholder {color:#fff !important;}
.bms_sign_input:-moz-placeholder {color:#fff !important;}
.bms_user{background:url(../img/bms-user.png);background-repeat: no-repeat;background-position: 1px !important;}
.bms_pass{background:url(../img/bms-pass.png);background-position:left 0px,right;background-repeat: no-repeat;background-position: 1px,1px !important;}
.bms_email{background:url(../img/bms_mail_white.png);background-position:left 0px,right;background-repeat: no-repeat;background-position: 1px,1px !important;}
.bms_number{background:url(../img/bms-call1.png);background-position:left 0px,right;background-repeat: no-repeat;background-position: 1px,1px !important;}
.bms_search{background:url(../img/bms-search11.png);background-position:left 0px,right;background-size: 16px;background-repeat: no-repeat;background-position: 1px,1px !important;}
.bms_sign_btn{width:100%;height:40px;background-color:rgba(273,273,273,0.1);border:1px solid #fff !important;color:#fff;text-align: center;    border-radius:5px;font-size:16px;font-weight: 400;text-transform: uppercase;}
.bms_sign_form_row p{color:#fff;text-align: center;}
.bms_sign_form_row h6{color:#fff;text-align: center;font-size: 18px;font-weight: 300;}
.bms_sign_form_row .item{background: transparent;border:none; color:#fff;}
.bms_sign_check .checkbox input:before, .checkbox-icon:before{background: transparent;}
.bms_sign_check .checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before{background: transparent;border:1px solid #fff;}

/*-- SIDEMENU --*/

.bms_sidemenu_wrapper{width:100%;height:100%;}
.bms_sidemenu_top{width:100%;padding:30px;padding-left: 50px;padding-top: 50px;}
.bms_sidemenu_list{height:calc(100% - 250px);}
.bms_sidemenu_prof_pic{width: 100px;height:100px;border:2px solid #fff;border-radius:50%;padding: 2px;}
.bms_sidemenu_prof_pic img{width:100%;height:100%;border-radius:50%;object-fit: cover;object-position: center;}
.bms_sidemenu_top h3{color: #fff;margin:0px;padding:0px;font-weight:300;}
.bms_sidemenu_top p{color: #fff;margin:0px;padding-top:15px;font-size:16px;font-weight: 300;}
.bms_sidemenu_list ul{width:100%;height:100%;}
.bms_sidemenu_list ul li{width:100%;color:#fff;font-size: 20px; padding: 15px;padding-left: 50px;font-weight: 300;}

/*-- FORGOT --*/

.popup-container .popup{width:100%;height:100%;background: transparent;}
.popup-body{width:100%;height:100%;}
.bms_pop_up_wrapper{width:95%;margin:0 auto;padding: 10px;border-radius: 5px;position: relative;top:100px;}
.bms_pop_up_header{width: 100%;coloR:#fff;position: relative;}
.bms_pop_up_header h1{margin:0px;color:#fff;font-weight:300;font-size:24px;float:left;}
.bms_pop_close{float:right;color:#fff;font-size: 40px;position:absolute;right:0px;width: 30px;height: 30px;text-align: center;top: -5px;}

/*-- HOME --*/

.bms_header_bar{width:100%;height:45px;}
.bms_home_search_bar_input{width:100%;height: 100% !important;background: transparent;color: #fff !important;border-bottom: 1px solid #fff !important; font-weight: 300;font-size: 16px !important;background:url(../img/bms-search11.png) !important;    background-repeat: no-repeat !important;background-position: right !important;background-size:15px !important;}
.bms_home_header{width:calc(100% - 45px) !important;}
.bms_home_search_bar_input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {background: transparent !important;background-image: none;width:100% !important;}
.bms_home_search_bar_input::-webkit-input-placeholder {color:#fff !important;}
.bms_home_search_bar_input::-moz-placeholder {color:#fff !important;}
.bms_home_search_bar_input:-ms-input-placeholder {color:#fff !important;}
.bms_home_search_bar_input:-moz-placeholder {color:#fff !important;}
.bms_home_wrapper{width:100%;height:100%;margin-bottom:40px;}
.bms_home_city_search{width:100%;height: 45px;padding: 10px;}
.bms_home_city_search_input{width:120px;height:100% !important;background:url(../img/bms-loc.png) !important;color: #fff !important;background-repeat: no-repeat !important;background-position:1px !important;background-size:15px !important;padding-left: 30px !important;}
.bms_home_city_search_input::-webkit-input-placeholder {color:#fff !important;}
.bms_home_city_search_input::-moz-placeholder {color:#fff !important;}
.bms_home_city_search_input:-ms-input-placeholder {color:#fff !important;}
.bms_home_city_search_input:-moz-placeholder {color:#fff !important;}
.bms_shop_list{width:100%;height:calc(100% - 45px);    overflow: scroll;}
.bms_shop_details{width:100%;}
.bms_shop_div{width: 100%;background: #fff;border:2px solid #e1e1e1;}
.bms_shop_banner{width: 100%;height:150px;position: relative;}
.bms_shop_banner img{width:100%;height:100%;object-fit: cover;object-position: center;}
.bms_rating{background: #00cc9a;position: absolute;text-align: center;border-radius: 2px;font-family: 'Open Sans', sans-serif;color: #fff;font-weight: 400;bottom: 10px;left: 10px;width:35px;height:35px;font-size: 16px;padding:6px;}
.bms_shop_name{width:100%;padding:5px;position: relative;}
.bms_shop_name h6 {margin: 0px;font-family: 'Open Sans', sans-serif;color: #313034;font-weight:400;font-size: 16px;padding-bottom: 10px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.bms_view_btn{background-color: #ff696e;border: none;font-family: 'Open Sans', sans-serif;color: #fff;padding: 6px;border-radius:2px;font-size: 12px;width: 100%;}
.bms_home_footer{width:100%;position: fixed;bottom:0px;}
.bms_home_footer li{list-style: none;width:50%;color:#fff;text-align: center;padding: 10px;font-size: 16px;font-weight: 300;}
.bms_home_footer li i{font-size: 20px;margin-right: 10px;}
.bms_home_footer .border_left{border-left:1px solid #fff;}
.bms_pop_up_wrapper ul{width:100%;margin:0px;top:25%;}
.bms_pop_up_wrapper ul li{width:100%;list-style: none;color: #fff;padding-left: 35px;padding-bottom: 10px;padding-top: 10px;}
.bms_pop_up_wrapper ul li a{color:#fff;text-decoration: none;font-weight: 14px;}

/*-- FILTER-MODAL --*/

.bms-filter-modal{width:100%;background:#f0525f;}
.bms-filter-btn{border:none;background:transparent;color:#fff;font-family: 'Open Sans', sans-serif;width: 120px;}
.bms-filter-apply{background:#fff;font-family: 'Open Sans', sans-serif;color:#000;border:none;border-radius:2px;width: 55px; height: 30px;float:right;}
.bms-filter-clear{background:transparent;font-family: 'Open Sans', sans-serif;color:#fff;border:none;width: 55px;height: 30px;float:right;}
.bms-filter-btn-bay{width:100%;padding-right: 10px;padding-top: 2px;}
.bms-filter-pop-div{width:100%;height:100%;}
.bms-filter-tab-div{width:40%;height:100%;float:left;background:#e7e8e8;}
.bms-filter-tab-div ul{width:100%;height:80%;}
.bms-filter-tab-div ul li{text-align:center;width:100%;height:25%;padding: 20%;}
.bms-filter-tab-div ul li img{width: 34px;}
.bms-filter-tab-content{width:60%;height:100%;float:right;background:#fff;}
.bms-filter-tab-div ul li p{font-family:Reef;color:#6d6969;}
.bms-filter-tab-content ul{}
.bms-filter-tab-content ul li{width:100%;padding: 15px;border-bottom:1px dotted #e7e8e8;}
.bms-filter-tab-div .active{background:#fff !important;}
.bms-filter-tab-div .activeprice{background:#fff !important;}
.bms-check-list{color:#afb2b3;font-family: 'Open Sans', sans-serif;font-size: 13px; padding-left: 30px;}
.bms-filter-tab-div hr{border-bottom:1px dashed #fff;border-top:none;width: 85%;margin:0 auto;margin-top:0px;margin-bottom:0px;position: relative;top: -2px;}

/*-- CHECK --*/

.bms-check label {display: inline-block;cursor: pointer;position: relative;padding-left: 25px;margin-right: 15px;font-size: 13px;}
.bms-check input[type=checkbox] {display: none;}
.bms-check label:before {content: "";display: inline-block;width: 18px;height: 18px;margin-right: 10px;position: absolute;left: 0;bottom: 1px;background-color: #fff;border:1px solid #afb2b3;}
.bms-check label {}
.bms-check label:before {}
.bms-check input[type=checkbox]:checked + label:before {content: "\2714";font-size: 18px;color: #f3f3f3;text-align: center;line-height: 17px;background-color: #fff;background:#f3757f;border:none;}

/*-- SHOP-DETAILS --*/

.bms_call{background: rgba(0,0,0,.5);padding:7px;position: absolute;text-align: center;font-family: 'Open Sans', sans-serif;color: #fff;width:35px;height: 35px;border-radius: 50%;font-weight: 600;bottom: 10px;right:55px;}
.bms_fav{background: rgba(0,0,0,.5);padding:7px;position: absolute;text-align: center;font-family: 'Open Sans', sans-serif;color: #fff;width: 35px;height: 35px;border-radius: 50%;font-weight: 600;bottom: 10px;right:10px;}
.bms_call a{}
.bms_call img{height:20px;width: auto;}
.bms_fav img{height:20px;width: auto;}
.bms_list{width: 100%;background: #fff;border: 1px solid #e1e1e1;margin: 10px 0;}
.bms_list ul{width: 100%;padding:10px;padding-top: 0px;padding-bottom: 0px;}
.bms_list ul li{width:100%;border-bottom: 1px dotted #a8a8a8;padding-top:10px;padding-bottom: 10px;}
.bms_list ul li h4 {font-family: 'Open Sans', sans-serif;color: #313034;font-weight: 600;font-size: 16px;}
.bms_list ul li p{font-family: 'Open Sans', sans-serif;color: #8e8a8a;font-size: 12px;text-align: justify;line-height: 20px;}
.bms_service_list{width:100%;padding: 0px !important;}
.bms_service_list li {width: calc(100% - 70%) !important;border-radius: 50px;text-align: center;font-family: 'Open Sans', sans-serif;font-size: 12px;margin: 1%;background: #f0525f;color: #fff;display: inline-block;padding-top: 5px !important;padding-bottom: 5px !important;font-weight: 500;}
.bms_gallery_list{width:100%;padding-left: 0px !important;padding-right: 0px !important;}
.bms_gallery_list li{width: 92px !important;height: 92px;margin: 5px;position: relative;padding: 0px !important;display: inline-flex;}
.bms_gallery_list li img {height: 100%;width: 100%;object-fit:cover;object-position: center;}
.bms_review{width:100%;padding:10px;}
.bms_review_head {width: 100%;border-bottom: 2px solid #000;font-family: 'Open Sans', sans-serif;color: #313034;font-weight: 600;font-size: 14px;padding-bottom: 10px;}
.bms_review_list{width:100%;padding-left: 0px !important;padding-right:0px !important;}
.bms_review_list li{width: 100%;border-bottom: 1px dotted #a8a8a8;padding-top: 10px;padding-bottom: 10px;}
.bms_reviewer_name{width: 100%;position: relative;}
.bms_reviewer_pic{width:40px;height:40px;border-radius: 50%;float:left;}
.bms_reviewer_pic img{width:100%;height:100%;border-radius:50%;object-fit: cover;object-position: center;}
.bms_reviewer_name h1 {font-family: 'Open Sans', sans-serif;color: #313034;font-weight: 600;font-size: 16px;margin: 0px;}
.bms_reviewer_name p {font-family: 'Open Sans', sans-serif;color: #847f7f;font-size: 12px !important;line-height: 17px !important;padding-top: 10px;}
.bms_reviewer_detail{float:left;padding: 10px;text-transform: capitalize;}

/*-- DATE-PAGE --*/

.bms_booking_wrap_inner{width:100%;height:100%;}
.bms_booking_wrap_inner .scroll{width:100%;height:100%;}
.bms_booking_date_wrap{width:100%;}
.bms_booking_date_div{width:100%;color:#fff;font-size:18px;font-weight: 200;padding-top:10px;padding-bottom: 10px;}
.bms_booking_time_div{width:100%;padding-top:10px;padding-bottom: 10px;}
.bms_book_date_pick_tool_bar{width:100%;background: #f1a2a9;padding: 10px;color:#fff;font-size: 20px;font-weight: 200;box-shadow: 10px 10px 5px #888888;}
.bms_time_div{background: #fff;color:#f0525f !important;padding-top:10px;padding-bottom: 10px;font-size: 20px;font-weight: 300;border-radius: 2px;}
.bms_apply_btn{width: 100%;color: #fff;text-align: center;border:none;position: fixed;bottom:0px;left:0px;right:0px;padding: 10px;}
.bms_select_service_wrapper{width:100%;background: #fff;width: 100%;}
.bms_select_service_wrapper h1{font-weight: 300;margin:0px;font-size: 20px;color: #f0525f;padding: 10px;}

#ck-button {margin:4px;background-color:#fff;border-radius:25px !important;overflow:auto;color:#000;border:1px solid #e7e7e7;position: relative;height: 30px;}
#ck-button p{margin:0px;position: absolute;left: 0px;right: 0px;top: 0px;bottom: 0px;padding: 4px;}
#ck-button label {width:100%;}
#ck-button label span {text-align:center;display:block;}
#ck-button label input {position:absolute;top:-20px;}
#ck-button input:checked + p {background-color:#ef5958;color:#fff;border-radius:25px !important;margin:0px;}

/*-- DATE & TIME PICKER --*/

.ionic-datetimepicker{background-color:#ef5958;width: 310px;margin: 0 auto;position: relative;top: 10%;}
.selected_date_full{color: #fff;font-size:20px;font-weight: 400;padding: 15px;}
.bms_date_month_year{width:100%;}
.bms_date_month_year button{color:#fff !important;background: transparent !important;border:none;position: relative;top: 2px;}
.bms_date_month_year button .icon{font-size: 18px;}
.bms_date_month_year .select_section{border:none;border-radius:2px;}
.bms_date_month_year .select_section select{background: transparent !important;border:none;text-align: center;color: #fff;font-size: 18px;font-weight: 300;}
.bms_date_month_year .select_section .item{background: transparent !important;border:none;text-align: center;}
.bms_date_month_year .select_section .item-select:after{color:#fff;}
.bms_date_month_year .select_section select option{text-align: center;}
.calendar_grid .col{color:#fff !important;font-size: 18px;font-weight: 300 !important;}
.calendar_grid .col .date_cell{color:#fff;}
.calendar_grid .date_selected{color:#ef5958 !important;background: #fff !important;border-radius: 2px;font-weight: 500;}
.calendar_grid .date_selected .date_cell{color:#ef5958;font-weight: 500;}
.calendar_grid .today{border:2px solid #fff;color:#fff;border-radius:2px;background: transparent;}
.calendar_grid .pointer_events_none{}
.ionic-datetimepicker-time .datetimepicker-arrows{color:#fff !important;}
.ionic-datetimepicker-time .datetimepicker-box-text{background: transparent;border:none !important;color:#fff;border-radius:2px;}
.ionic-datetimepicker-time .datetimepicker-colon{color:#fff;}
.popup-buttons{width: 100%;position: fixed;bottom: 0px;padding: 0px;min-height:45px;}
.popup-buttons .button{width:100% !important;margin:0px !important;border-radius: 0px !important;}
.popup-container .popup{max-height: 100% !important;}

/*-- PAYMENT-DETAILS --*/

.bms_payment_wrapper{width:100%;}
.bms_payment_banner{width:100%;height: 150px;background: url(../img/bms-booking1-banner.png) !important;color: #fff !important;padding: 15px;}
.bms_payment_banner h1{font-weight: 300;font-size: 24px;margin:0px;color: #f0525f !important;}
.bms_payment_banner_inner_list{width: 100%;font-family: 'Open Sans', sans-serif;font-size: 14px;border: none !important;padding: 0px !important;padding-bottom: 10px !important;padding-top:15px !important;}
.bms_payment_banner_inner_list li{list-style: none;width:100%;font-size:15px;font-weight: 300;padding-top:5px;}
.bms_payment_detail_div{width: 100%;padding: 10px;}
.bms_payment_detail_head{font-weight:400;font-size: 16px;padding-bottom: 10px;color: #f0525f !important;}
.bms_payment_detail_div ul{width:100%;}
.bms_payment_detail_div ul li{padding-bottom: 6px;}
.bms_payment_detail_div ul li span{}
.bms_payment_detail_div ul li span img{width:16px;position: relative;top: 3px;margin-right: 10px;}
.bms_detail_list{width:100%;padding:10px;}
.bms_detail_list ul{width:100%;padding:0px;list-style: none;margin:0px;}
.bms_detail_list ul li{width:100%;list-style: none;padding-bottom:8px;padding-top:8px;font-weight: 300; border-bottom: 1px dotted #a8a8a8;}
.bms_detail_list h5{margin:0px;color:#000;font-size: 16px;padding-bottom: 10px;padding-top: 10px;}
.bms_services{padding-bottom: 5px;color:#a8a8a8;}
.bms_detail_list ul li strong{font-size: 18px;font-weight:300;}

/*-- BOOKING-SUMMARY --*/

.bms_book_summary_wrapper{width:100%;height:100%;}
.bms_booking_div{width:100%;height:100%;padding: 10px;}
.bms_booking_div_inner{background: #ffffff;border: 1px solid #e1e1e1;width: 100%;height:100%;padding: 20px;}
.bms_booking_div_inner_logo{width: 100%;text-align: center;}
.bms_booking_div_inner_logo img{width: 120px;}
.bms_booking_ack{width: 100%;text-align: center;border-top 1px dashed #a8a8a8;padding-top: 30px;}
.bms_booking_ack h4{text-align: center;width: 100%;font-family: 'Open Sans', sans-serif;color: #f0525f;font-weight: 600;}
.bms_booking_ack p{font-family: 'Open Sans', sans-serif;color: #847f7f;font-weight: 600;margin: 0px;font-weight: 400;font-size:14px;line-height: 20px;}
.bms_booking_button_bay{}

/*-- PROFILE --*/

.bms_profile_wrapper{width:100%;}
.bms_profile_bay{width: 100%;height: 220px;background: #f0525f;position: relative;text-align: -webkit-center;text-align: -moz-center;padding-top: 15px;}
.bms_profile_photo{width: 110px;height: 110px;border-radius: 50%;border: 3px solid #fff;}
.bms_profile_photo img {border-radius: 50%;width: 100%;height: 100%;color: #fff;object-fit: cover;object-position: center;}
.bms_profile_bay h1 {font-family: 'Open Sans', sans-serif;color: #fff;font-size: 20px;}
.bms_profile_bay p {font-family: 'Open Sans', sans-serif;color: #fff;}
.bms_profile_bay p img {width: 15px;height: auto;vertical-align: -3px;margin-right: 5px;}
.bms_profile_bay .arrow-down {width: 0;height: 0;border-left: 15px solid transparent;border-right: 15px solid transparent;border-top: 20px solid #f0525f;position: absolute;bottom: -16px;left: 46%;}
.bms_landing_list{width:100%;background: rgba(240,82,95,0.2);position: relative;top: 60px;}
.bms_landing_list ul{margin:0px;padding: 0px;}
.bms_landing_list ul li{list-style: none;    width: 100%;color: #fff;font-family: 'Open Sans', sans-serif;font-weight: 300;padding: 10px;font-size:18px;}
.bms_landing_list ul li i{float: right;font-size: 20px;}
.bms_profile_footer_bay{position: fixed;bottom: 0px;left:0px;right:0px;}
.bms_profile_footer_btn{width:100%;color: #fff;text-align: center;padding: 10px;}
.bms_profile_footer_btn i{font-size: 20px;margin-right: 10px;position: relative;top: 1px;}

/*-- BOOKING-HISTORY --*/

.bms_history_wrapper{width:100%;padding:10px;}
.bms_history_wrapper ul{padding:0px;margin:0px;background: #fff;padding: 10px;}
.bms_history_wrapper ul li{width:100%;list-style: none;font-size: 14px;padding-top:10px;padding-bottom:10px;border-bottom: 1px dotted #e7e7e7;}
.bms_history_wrapper h4{margin:0px;font-weight: 300;padding-bottom: 10px;}
.bms_history_wrapper ul li span{color: #847f7f;font-weight:300;}
.bms_history_wrapper ul li span strong{color: #000;font-weight:400;margin-right: 10px;}
.bms_history_wrapper ul li span i{color: #f0525f;}

/*-- BOOKING-WRAP --*/

.bms_book_rate_wrap{width: 100%;background: #fff;margin-top: 10px;text-align: center;padding: 20px;}
.bms_book_rate_wrap h3{font-family: 'Open Sans', sans-serif;text-align: center;font-weight:600;font-size: 14px;}
.bms_book_rate_wrap p {font-family: 'Open Sans', sans-serif;margin: 0px;font-size: 13px;line-height: 20px;color: #847f7f;}
.bms_rate_service{color: #f0525f;background: transparent;border:none;padding-top:20px;font-weight: 500;font-size: 16px;}
.bms_rating_textarea{width:100%;background: transparent;border:1px solid #fff;border-radius:2px;color: #fff;font-weight: 400;padding: 5px;}
.bms_rating_textarea::-webkit-input-placeholder {color:#fff;}
.bms_rating_textarea::-moz-placeholder { color:#fff;}
.bms_rating_textarea:-ms-input-placeholder { color:#fff;}
.bms_rating_textarea:-moz-placeholder { color:#fff;}

/*RATTING*/

.bms_stars {width:170px;display: inline-block;margin:0 auto;}
.bms_stars input.star { display: none; }
.bms_stars label.star {float: right;padding:5px;font-size:24px;color: #fff;transition: all .2s;}
.bms_stars input.star:checked ~ label.star:before {content: '\f005';color: #FD4;transition: all .25s;}
.bms_stars input.star-5:checked ~ label.star:before {color: #FE7;text-shadow: 0 0 20px #952;}
.bms_stars input.star-1:checked ~ label.star:before { color: #F62; }
.bms_stars label.star:hover { transform: rotate(-15deg) scale(1.3); }
.bms_stars label.star:before {content: '\f006';font-family: FontAwesome;}
