
/*FONT*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
*{font-family: 'Roboto', sans-serif;}
.fontweight400{font-weight: 400 !important;}

/*COLORS*/

.text_color_primary{color:#f0525f !important;}
.text_color_secondary{color:#3d3a3b !important;}
.text_color_white{color:#fff !important;}

/*THEMES & BACKGROUND*/

.theme_primary{background-color: #f0525f !important;border: 1px solid #f0525f;}
.theme_secondary{background: url(../img/bms-bg.png) !important;background-position:center;background-size:cover;}
.border_primary{border-color:#e66263 !important;}
.theme_transparent{background:transparent !important;}
.theme_white{background-color: #fff !important;}
.theme_dark_transparent{background-color: rgba(0,0,0,0.6) !important;}
.theme_offwhite{background: #f1f1f1;}
.theme_dark_grey{background: #4c4c4c !important;}

/* FONT */

.font_size_xs{font-size:12px !important;}
.font_size_sm{font-size:14px !important;}
.font_size_md{font-size:16px !important;}
.font_size_lg{font-size:18px !important;}
.font_size_xl{font-size:20px !important;}
.font_size_vl{font-size:35px !important;}



/*BODY-STRUCTURE*/

.nav_header{width:100%;height:45px;padding: 0px !important;background-image: none;}
.nav_btn{width:45px !important;height:45px !important;background: transparent;margin: 0px;    display: inline-block;font-size:20px !important;border:none;text-align: center;color: #fff;}
.nav_header_title{height:100%;font-size: 15px;color: #fff;font-weight:500;width:calc(100% - 90px);letter-spacing:1px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;padding-left: 8px;padding-right: 8px;padding-top: 5px;padding-bottom: 5px;}
.clear{clear:both !important;}
.nav_header_title h4{color:#fff;font-weight:300;margin: 0px;padding: 6px;}
.border{border:1px solid;}
.borderNone{border:none !important;}


/*SPACING & POSITION*/

.width100{width:100% !important;}
.width75{width:75% !important;}
.width50{width:50% !important;}
.height100{height:100% !important;}
.p0{padding:0px !important;}
.pl0{padding-left: 0px !important;}
.pr0{padding-right:0px !important;}
.pt0{padding-top:0px !important;}
.pb0{padding-bottom: 0px !important;}
.p10{padding:10px !important;}

.m0{margin:0px !important;}
.ml0{margin-left: 0px !important;}
.mr0{margin-right: 0px !important;}
.mt0{margin-top: 0px !important;}
.mb0{margin-bottom: 0px !important;}

.top10{top:10px;}
.bottom10{bottom:10px;}
.left10{left:10px;}
.right10{right:10px;}
.bottom10{bottom:10px;}

.absolute{position: absolute !important;}
.relative{position: relative !important;}
.fixed{position: fixed !important;}

/*ALIGNMENT*/

.floatLeft{float:left !important;}
.floatRight{float:right !important;}
.textLeft{text-align: left !important;}
.textRight{text-align: right !important;}
.textCenter{text-align: center !important;}

/*ALERT*/

.alert{padding:5px;margin-bottom: 20px;border: 1px solid transparent;font-weight:400;transition: all 0.5s ease;}
.warning{color: #fff;background-color: #8a6d3b;}
.success{color: #fff;background-color: #3c763d;}
.error{color: #fff;background-color: #a94442;}
